<h4>Search</h4>
<div>
  <!-- <div *ngIf="!search.typeUser.length">
                    <input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="autocompleteTypeUser" placeholder="Select type User" (ngModelChange)="searchTypeUser()" mdInput>
                  </div>
                  <div class="form-control" *ngFor="let fetchedTypeUser of fetchedTypeUsers; let i=index">
                    <table>
                      <tr>
                        <td class="tdbtn1">{{fetchedTypeUser}}</td>
                        <td class="tdbtn2"><button class="btn btn-success" type="button" (click)="selectTypeUser(fetchedTypeUser)">select</button></td>
                      </tr>
                    </table>
                  </div>
                  <div class="form-control" *ngFor="let typeUser of search.typeUser; let i=index">
                    <table>
                      <tr>
                        <td class="tdbtn1">{{typeUser}}</td>
                        <td class="tdbtn2"><button class="btn btn-danger btn-sm ferme" type="button" (click)="removeTypeUser(i)"><i class="fa fa-times"></i></button></td>
                      </tr>
                    </table>
                  </div> -->
  <!-- <app-autocomplete [typeAutocomplete]="'typeUser'" [title]="''" [singleChoice]="'true'" [arrayContent]="[]" (getResultAutocomplete)="selectTypeUser($event[0])" (clearAutocomplete)="removeTypeUser()">
                  </app-autocomplete> -->
  <div class="row">
    <div class="col-md-3">

      <app-autocomplete [typeAutocomplete]="'user'" [title]="''" [singleChoice]="'true'" [arrayContent]="searchData.fetchedUserSearchs" (getResultAutocomplete)="selectUserSearch()" (clearAutocomplete)="removeUserSearch()">
      </app-autocomplete>
    </div>
    <div class="col-md-3">
      <app-autocomplete [typeAutocomplete]="'project'" [title]="''" [singleChoice]="'true'" [arrayContent]="searchData.fetchedProjectSearchs" (getResultAutocomplete)="selectProjectSearch()" (clearAutocomplete)="removeUserSearch()">
      </app-autocomplete>
    </div>
    <div class="col-md-3">

      <div *ngFor="let ownerCompanie of currentUser.ownerCompanies">
        <md-select (change)="changeTypeUsers()" placeholder="typeUser" [(ngModel)]="searchData.typeUser" name="typeUsers">
          <md-option *ngFor="let typeUser of ownerCompanie.typeUsers" [value]="typeUser.value">
            {{typeUser.value}}
          </md-option>
        </md-select>
        <button type="button" (click)="clearTypeUser()"><i class="fa fa-times" aria-hidden="true"></i></button>
      </div>




      <!-- <md-select (change)="changeTypeUsers()" placeholder="typeUser" [(ngModel)]="searchData.typeUser" name="typeUsers">
        <md-option [value]="''"></md-option>
        <md-option *ngFor="let typeUser of typeUsers" [value]="typeUser">
          {{typeUser}}
        </md-option>
      </md-select> -->
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
