<div class="container">

  <div class="single-wrpr beigeback">



    <div class="features-boxed">
        <div class="container">


            <div class="row features">
                <div class="col-md-4 col-sm-6 item">
                    <div class="box">
                        <i class="fa fa-camera-retro fa-5x"></i>
                        <!-- <i class="glyphicon glyphicon-eur icon" data-bs-hover-animate="bounce"></i> -->
                        <h3 class="name">Compte de Résultat</h3>
                        <p class="description"></p><a [routerLink]="['/']">Aller »</a></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="fa fa-calendar" aria-hidden="true" data-bs-hover-animate="bounce" [routerLink]="['/calendar']"></i>
                        <h3 class="name" [routerLink]="['/calendar']">Planning </h3>
                        <p class="description"></p><a [routerLink]="['/calendar']">Aller »</a></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="fa fa-server" aria-hidden="true" data-bs-hover-animate="bounce" [routerLink]="['/product']"></i>
                        <h3 class="name" [routerLink]="['/product']">Produits</h3>
                        <p class="description"></p><a [routerLink]="['/product']">Aller »</a></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="fa fa-address-card" aria-hidden="true" data-bs-hover-animate="bounce" [routerLink]="['/user']"></i>
                        <h3 class="name" [routerLink]="['/user']">Utilisateurs</h3>
                        <p class="description"></p><a [routerLink]="['/user']">Aller »</a></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="fa fa-suitcase" aria-hidden="true" data-bs-hover-animate="bounce" [routerLink]="['/project']"></i>
                        <h3 class="name" [routerLink]="['/project']">Projets</h3>
                        <p class="description"></p><a [routerLink]="['/project']">Aller »</a></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="fa fa-bar-chart" aria-hidden="true" data-bs-hover-animate="bounce"></i>
                        <h3 class="name">Statistiques </h3>
                        <p class="description"></p><a [routerLink]="['/']">Aller »</a></div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
