<div class="page1" *ngIf="isLoggedIn()">




  <div id="accordion" role="tablist" aria-multiselectable="true">


    <div class="card">
      <div class="" role="tab" id="headingZero">
        <a [routerLink]="['/']" data-toggle="collapse" class="nav-link" data-parent="#accordion" href="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
          <span class="fa fa-tachometer" aria-hidden="true">
          </span>{{'dashboard'|translate}}
        </a>
      </div>
      <div id="collapseZero" class="collapse show" role="tabpanel" aria-labelledby="headingZero">
      </div>
    </div>

    <div class="card">
      <div class="" role="tab" id="headingOne">
        <a data-toggle="collapse" class="nav-link" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <span class="fa fa-user" aria-hidden="true"></span>
            Contacts
        </a>
      </div>
      <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-block">
          <div class="panel-body">
            <table class="table">
              <tr>
                <td class="nav-item subItem">
                  <a class="nav-link" [routerLink]="['/user/true']" routerLinkActive="active">{{'customers'|translate}}</a>
                </td>
              </tr>
              <tr>
                <td class="nav-item subItem">
                  <a class="nav-link" [routerLink]="['/companie']" routerLinkActive="active">{{'supplier'|translate}}</a>
                </td>
              </tr>
              <tr>
                <td class="nav-item subItem">
                  <a class="nav-link" [routerLink]="['/user/false']" routerLinkActive="active">{{'team'|translate}}</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="">
        <a class="nav-link" [routerLink]="['/userCalendar', {idUserSearch: fetchedUser._id}]" data-toggle="collapse" data-parent="#accordion" routerLinkActive="active">
          <span class="fa fa-calendar" aria-hidden="true"></span>{{'planning'|translate}}</a>
      </div>
    </div>

    <div class="card">
      <div class="" role="tab" id="headingthree">
        <a data-toggle="collapse" class="nav-link" data-parent="#accordion" href="#collapsethree" aria-expanded="true" aria-controls="collapsethree">
            <span class="fa fa-user" aria-hidden="true"></span>
              {{'services'|translate}}
        </a>
      </div>

      <div id="collapsethree" class="collapse" role="tabpanel" aria-labelledby="headingthree">
        <div class="card-block">
          <div class="panel-body">
            <div *ngFor="let ownerCompanie of fetchedUser.ownerCompanies">
              <div>
                <table class="table">
                  <tr *ngFor="let categProjectSingle of ownerCompanie.categories.categProject; let i=index;">
                    <td *ngIf="categProjectSingle.isFlagged" class="nav-item subItem">
                      <a class="nav-link" [routerLink]="['/project/new/', {categ: i}]" routerLinkActive="active">
                        {{categProjectSingle.categ}}
                      </a>
                    </td>
                  </tr>
                  <!-- <tr>
                <td class="nav-item subItem">
                  <a class="nav-link" [routerLink]="['/companie']" routerLinkActive="active">{{'service2'|translate}}</a>
                </td>
              </tr>
              <tr>
                <td class="nav-item subItem">
                  <a class="nav-link" [routerLink]="['/user/false']" routerLinkActive="active">{{'service3'|translate}}</a>
                </td>
              </tr> -->

                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="card">
      <div class="" role="tab" id="headingFive">
        <a class="nav-link" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
              <span class="fa fa-university" aria-hidden="true"></span>{{'Projects'|translate}}
            </a>
      </div>
      <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
        <div class="card-block">
          <div class="panel-body">
            <table class="table">
              <tr>
                <td class="nav-item subItem">
                  <a class="nav-link" [routerLink]="['/project']" routerLinkActive="active">{{'Projects'|translate}}</a>
                </td>
              </tr>
              <tr>
                <td class="nav-item subItem">
                  <a class="nav-link" [routerLink]="['/task']" routerLinkActive="active">{{'Tasks'|translate}}</a>
                </td>
              </tr>

            </table>
          </div>
        </div>
      </div>
    </div>




    <div class="card">
      <div class="">
        <a class="nav-link" [routerLink]="['/quote']" data-toggle="collapse" data-parent="#accordion" routerLinkActive="active">
          <span class="fa fa-calculator" aria-hidden="true"></span>
          {{'Quotes'|translate}}
        </a>
      </div>
    </div>


    <div class="card">
      <div class="" role="tab" id="headingTwo">
        <a class="nav-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <span class="fa fa-university" aria-hidden="true"></span>{{'accoutancy'|translate}}
        </a>
      </div>
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="card-block">
          <div class="panel-body">
            <table class="table">
              <!-- <tr>
              <td class="nav-item">
                <a class="nav-link" [routerLink]="" routerLinkActive="active">{{'Invoices'|translate}}</a>
              </td>
            </tr> -->
              <tr>
                <td class="nav-item subItem">
                  <a class="nav-link" [routerLink]="['/paiementQuote/false']" routerLinkActive="active">{{'Payments'|translate}}</a>
                </td>
              </tr>
              <tr>
                <td class="nav-item subItem">
                  <a class="nav-link" [routerLink]="['/paiementQuote/true']" routerLinkActive="active">{{'Expenses'|translate}}</a>
                </td>
              </tr>

            </table>
          </div>
        </div>
      </div>
    </div>



    <div class="card">
      <div class="">
        <a [routerLink]="['/reporting']" data-toggle="collapse" routerLinkActive="active" class="nav-link" data-parent="#accordion">
          <span class="fa fa-bar-chart" aria-hidden="true"></span>
          {{'reporting'|translate}}
        </a>
      </div>
    </div>



    <div class="card">
      <div class="" role="tab" id="headingfour">
        <a data-toggle="collapse" class="nav-link" data-parent="#accordion" href="#collapsefour" aria-expanded="true" aria-controls="collapsefour">
            <span class="fa fa-user" aria-hidden="true"></span>
              {{'settings'|translate}}
        </a>
      </div>

      <div id="collapsefour" class="collapse" role="tabpanel" aria-labelledby="headingfour">
        <div class="card-block">
          <div class="panel-body">
            <table class="table">
              <tr>
                <td class="nav-item subItem">
                  <a class="nav-link" [routerLink]="['/companie/mine']" routerLinkActive="active">{{'my company'|translate}}</a>
                </td>
              </tr>
              <tr>
                <td class="nav-item subItem">
                  <a class="nav-link" [routerLink]="['/product']" routerLinkActive="active">{{'products'|translate}}</a>
                </td>
              </tr>
              <tr>
                <td class="nav-item subItem">
                  <a class="nav-link" [routerLink]="['/right']" routerLinkActive="active">{{'rights'|translate}}</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
