<div *ngIf="isLoggedIn()">

  <button type="button" class="spcright btn btn-secondary" (click)="logout()">
    {{'Logout' | translate}}
  </button>
  
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        
        <div class="" id="accordion">
                <div class="">
                    <div class="nav navbar-nav">
                        <a class="nav-item">
                            <a class="nav-link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Contacts</a>
                        </a>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td class="nav-item">
                                        <a class="nav-link" [routerLink]="['/user']" routerLinkActive="active">Clients</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="nav-item">
                                        <a class="nav-link" [routerLink]="['/user']" routerLinkActive="active">Fournisseurs</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="nav-item">
                                        <a class="nav-link" [routerLink]="['/user']" routerLinkActive="active">Equipe</a>
                                    </td>
                                </tr>
                                
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>
        
        <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div>
          <ul class="nav navbar-nav">

              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/user/newuser/' + fetchedUser._id]" routerLinkActive="active">
                  <span class="fa fa-tachometer" aria-hidden="true"></span> Tableau de Bord

                </a>
              </li>
            
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" routerLinkActive="active" [routerLink]="['/user']" routerLinkActive="active">
                  <span class="fa fa-address-card" aria-hidden="true"></span> Contacts

                </a>
                  <ul class="nav navbar-nav" role="menu">
                    <li class="nav-item">
                      <a class="nav-link" routerLinkActive="active" [routerLink]="['/user']" routerLinkActive="active">Clients</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLinkActive="active" [routerLink]="['/user']" routerLinkActive="active">Fournisseurs</a>
                    </li>  
                    <li class="nav-item">
                      <a class="nav-link" routerLinkActive="active" [routerLink]="['/user']" routerLinkActive="active">Équipe</a>
                    </li>
                  </ul> 
              </li>
            
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/userCalendar', {idUserSearch: fetchedUser._id}]" routerLinkActive="active">
                  <span class="fa fa-calendar" aria-hidden="true"></span> Planning

                </a>
              </li>
            
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/project']" routerLinkActive="active">
                  <span class="fa fa-home" aria-hidden="true"></span> Prestations

                </a>
              </li>
            
              
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/quote']" routerLinkActive="active">
                  <span class="fa fa-calculator" aria-hidden="true"></span> Devis

                </a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" [routerLink]="" routerLinkActive="active">
                  <span class="fa fa-university" aria-hidden="true"></span> Comptabilité

                </a>
              </li>
        
             <li class="nav-item">
                <a class="nav-link" [routerLink]="['/reporting']" routerLinkActive="active">
                  <span class="fa fa-bar-chart" aria-hidden="true"></span> Reporting

                </a>
              </li>
            
              
              <li class="nav-item">
                <a class="nav-link" [routerLink]="" routerLinkActive="active">
                  <span class="fa fa-cog" aria-hidden="true"></span> Paramètres

                </a>
              </li>
              
  <!--
              <li *ngIf="showObjHTML('product')" class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/product']">{{'Products' | translate}}</a>
              </li>

              <li *ngIf="showObjHTML('user')" class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/user']">{{'Users' | translate}}</a>
              </li>
              <li *ngIf="showObjHTML('companie')" class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/companie']">{{'Companies' | translate}}</a>
              </li>
              <li *ngIf="showObjHTML('quote')" class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/quote']">{{'Quotes' | translate}}</a>
              </li>
              <li *ngIf="showObjHTML('expense')" class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/expense']">{{'Expenses' | translate}}</a>
              </li>
              <li *ngIf="showObjHTML('paiementQuote')" class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/paiementQuote']">{{'Paiements' | translate}}</a>
              </li>

              <li *ngIf="showObjHTML('right')" class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/right']">{{'Rights' | translate}}</a>
              </li>

              <li *ngIf="showObjHTML('reporting')" class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/reporting']">{{'Reporting' | translate}}</a>
              </li>
-->

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    </div>
