<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2"><button type="button" class="btn btn-warning" (click)="goBack()"><i class="fa fa-chevron-left"><a> Retour</a></i></button></div>
  <div class="col-md-6"><h3 class="title">Profile</h3></div>
  <div class="col-md-3"></div>
</div>

<div class="container">
  <div class="goldgradient beigeborder subnav">
    <h3 style="text-align: center;">Profile</h3>
    <h4 style="text-align: center;">{{fetchedUser.profile.name}} {{fetchedUser.profile.lastName}}</h4>

  </div>
  <a [routerLink]="['/user/newuser/' + fetchedUser._id]" class="admn-btn">
    Edit User
  </a>

  <h3>Stripe</h3>

  <h4>Customer</h4>
  <button type="button" class="done" (click)="saveCustInStripe()">saveCustInStripe</button>
  <pre>
  {{stripeCust|json}}
  </pre>


  <h4>Card</h4>
  <button type="button" class="done" (click)="saveCardInStripe()">saveCardInStripe</button>
  <pre>
  {{stripeCard|json}}
  </pre>

  <h4>Abonnement</h4>
  <button type="button" class="done" (click)="saveSubscriptionInStripe()">saveSubInStripe</button>
  <pre>
  {{stripeSubscription|json}}
  </pre>


  <button type="button" class="done" (click)="paiement()">Paiement</button>




</div>
