    {{title}}

    <input class="form-control"
      *ngIf="!arrayContent.length"
      class="champ"
      type="text"
      name="Search"
      placeholder="Rechercher"
      [(ngModel)]="autocompleteSearch"
      (ngModelChange)="searchData()">
      <div *ngFor="let data of fetchedData; let i=index">
        <div *ngIf="typeAutocomplete=='user'">{{data.profile.name}} {{data.profile.lastName}}</div>
        <div *ngIf="typeAutocomplete=='companie'">{{data.name}}</div>
        <button type="button" (click)="selectData(data)">select</button>
      </div>

      <div *ngIf="arrayContent.length == 0 && autocompleteSearch !=''">
          Pas de resultats,
          <a [routerLink]="['/user/newuser']" class="admn-btn">
            Créer un nouveau employe
          </a>
      </div>
      <div *ngFor="let data of arrayContent; let i=index">
        <!-- <div *ngIf="typeAutocomplete=='user'" class="round" [style.background-color]="user.profile.colorCalendar"></div> -->

        <div *ngIf="typeAutocomplete=='user'">{{data.profile.name}} {{data.profile.lastName}}</div>
        <div *ngIf="typeAutocomplete=='companie'">{{data.name}}</div>
        <button type="button" (click)="removeData(i)"><i class="fa fa-times"></i></button>
      </div>
