<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">{{'Companie' | translate}}</h3>

        <button class="subnav-btnright" [routerLink]="['/companie/edit/' + fetchedCompanie._id]" routerLinkActive="active"><span class="glyphicon glyphicon-edit"></span><div class="edt-slntxt">Éditer fournisseur</div></button>


    <!-- <div *ngIf="!isHQcompanie()">
      <div *ngIf="isAdmin() || isManager() || isSalesRep()">
        <button *ngIf="isAdmin()" class="subnav-btnright" [routerLink]="['/companie/edit/' + fetchedCompanie._id]" routerLinkActive="active"><span class="glyphicon glyphicon-edit"></span><div class="edt-slntxt">Edit Salon</div></button>
      </div>
    </div> -->
  </div>
  <div class="beigeback phyto-ctnr">
    <div class="sln-adrs">
      <h3>bienvenue sur {{fetchedCompanie.nameCompanie}}</h3>
      <h6>{{fetchedCompanie.address.address}}, {{fetchedCompanie.address.city}}, {{fetchedCompanie.address.state}} {{fetchedCompanie.address.zip}} - {{fetchedCompanie.phoneNumber}}</h6>
    </div>
  </div>


</div>
