.phytologo img {
  padding: 10px 15px;
}
.phytologo {
  background-color: #636363;
  position: fixed;
  width: 100%;
  top: 0;
}
.hamburger {
  float: right;
  font-size: 20px;
  color: #0a2f87;
  padding: 25px;
}

@media screen and (min-width: 950px) {
/*.phytologo {
    left: 50%;
    margin-left: -475px;
}*/
}

@media screen and (min-width: 768px) {

.phytologo, .phytologo img {
  height: 150px!important;
}
/*.hamburger {
  padding: 25px;
}*/
}

@media screen and (max-width: 767px) {

.phytologo, .phytologo img {
  height: 150px!important;
}
/*.hamburger {
  padding: 15px;
}*/
}
