<div *ngIf="isLoggedIn()">


  <!-- <div> -->
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div *ngFor="let companie of fetchedUser.ownerCompanies">

      <a href="#">
        <div *ngFor="let form of companie.forms">
          <img class="logo-img" src="./uploads/forms/{{form.owner}}/{{form.imagePath}}" onerror="this.src ='assets/images/marker.png'">
        </div>

        <div *ngIf="!companie.forms.length">
          <img class="logo-img" src="./assets/images/marker.png">
        </div>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{'Administration' | translate}}
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li *ngIf="showObjHTML('product')" class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/product']">{{'Products' | translate}}</a>
          </li>

          <li *ngIf="showObjHTML('user')" class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/user']">{{'Users' | translate}}</a>
          </li>
          <li *ngIf="showObjHTML('companie')" class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/companie']">{{'Companies' | translate}}</a>
          </li>
          <li *ngIf="showObjHTML('quote')" class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/quote']">{{'Quotes' | translate}}</a>
          </li>
          <li *ngIf="showObjHTML('expense')" class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/expense']">{{'Expenses' | translate}}</a>
          </li>
          <li *ngIf="showObjHTML('paiementQuote')" class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/paiementQuote']">{{'Paiements' | translate}}</a>
          </li>

          <li *ngIf="showObjHTML('right')" class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/right']">{{'Rights' | translate}}</a>
          </li>

          <li *ngIf="showObjHTML('reporting')" class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/reporting']">{{'Reporting' | translate}}</a>
          </li>
        </div>
      </div>

      <ul class="navbar-nav mr-auto">

        <li *ngIf="showObjHTML('project')" class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/project']">{{'Projects' | translate}} </a>
        </li>

        <li *ngIf="showObjHTML('task')" class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/task']">{{'Tasks' | translate}} </a>
        </li>




        <li *ngIf="showObjHTML('userCalendar')" class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/userCalendar', {idUserSearch: fetchedUser._id}]">{{'My Planning' | translate}}</a>
        </li>

        <li *ngIf="!isCurrentUserIsInSubPeriod()" class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/user/paiement']">{{'Finish subscription' | translate}}</a>
        </li>


        <!-- <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/option']">Options</a>
          </li> -->

      </ul>
      <p class="form-inline my-2 my-lg-0" align="right" style="margin-right:40px;">
        <button type="button" class="spcright btn btn-secondary" (click)="logout()">
          {{'Logout' | translate}}
        </button>
        <button type="button" class="spcright btn btn-primary" [routerLink]="['/user/newuser/' + fetchedUser._id]" routerLinkActive="active">
          {{'My Profile' | translate}}
        </button>

        <button type="button" class="spcright btn btn-primary" [routerLink]="['/companie/mine']" routerLinkActive="active">
          {{'My company' | translate}}
        </button>
      </p>
    </div>

  </nav>
</div>
<!-- </div> -->
