<div *ngIf="isLoggedIn()">


  <!-- <div> -->
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngFor="let companie of fetchedUser.companies">
      <a href="#">
        <div *ngFor="let form of companie.forms">
          <img class="logo-img" src="./uploads/forms/{{form.owner}}/{{form.imagePath}}" onerror="this.src ='assets/images/marker.png'">
        </div>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Administration
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li *ngIf="isCurrentUserIsInSubPeriod() && isCurrentUserHasCompanie()" class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/product']">Produits</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/user']">Utilisateurs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/companie']">Entreprises</a>
          </li>
          <li *ngIf="isCurrentUserIsInSubPeriod() && isCurrentUserHasCompanie()" class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/quote']">Devis</a>
          </li>
          <li *ngIf="isCurrentUserIsInSubPeriod() && isCurrentUserHasCompanie()" class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/paiementQuote']">Paiements</a>
          </li>

          <li *ngIf="isCurrentUserIsInSubPeriod() && isCurrentUserHasCompanie()" class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/right']">Rights</a>
          </li>

          <li *ngIf="isCurrentUserIsInSubPeriod() && isCurrentUserHasCompanie()" class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/reporting']">Reporting</a>
          </li>
        </div>
      </div>

      <ul class="navbar-nav mr-auto">

        <li *ngIf="isCurrentUserIsInSubPeriod() && isCurrentUserHasCompanie()" class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/project']">Projets </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/project/tasks']">Tasks </a>
        </li>




        <li *ngIf="isCurrentUserIsInSubPeriod() && isCurrentUserHasCompanie()" class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/userCalendar', {idUserSearch: fetchedUser._id}]">Mon Planning</a>
        </li>

        <li *ngIf="!isCurrentUserIsInSubPeriod()" class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/user/paiement']">Finish subscription</a>
        </li>

        <li *ngIf="!isCurrentUserHasCompanie()" class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/companie/edit/mine']">Rajouter mon entreprise</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/option']">Options</a>
          </li> -->

      </ul>
      <p class="form-inline my-2 my-lg-0" align="right" style="margin-right:40px;">
        <button type="button" class="spcright btn btn-secondary" (click)="logout()">
          Déconnexion
        </button>
        <button type="button" class="spcright btn btn-primary" [routerLink]="['/user/profile']" routerLinkActive="active">
          Mon Profil
        </button>
        <!-- <button
          *ngIf="fetchedUser.companies.length"
          type="button"
          class="btn btn-primary"
          [routerLink]="['/companie/edit/mine']"
          routerLinkActive="active">
          Mon Entreprise
        </button> -->
        <button type="button" class="spcright btn btn-primary" [routerLink]="['/companie/edit/mine']" routerLinkActive="active">
          Mon Entreprise
        </button>
      </p>
    </div>

  </nav>
</div>
<!-- </div> -->
