
<div class="container">
  <div class="d-flex flex-row">
    <div class="p-2">
      <h4{{'Tasks' | translate}}</h4>
    </div>
    <div class="p-2">
      <app-newObjDialog icone="fa fa-plus-square fa-2x ml" [search]="search" (saved)="saved($event)" [typeObj]="'task'"></app-newObjDialog>
    </div>
  </div>
  <div class="d-flex flex-row">
    <div class="p-2">
      <md-checkbox class="example-margin" [(ngModel)]="search.myTasks" (change)="searchTasks()">My tasks</md-checkbox>
    </div>
  </div>    
   <div class="row">    
    <div class="col-md-12">

          <table class="table table-hover">
            <thead>
              <tr>

                <th class="centre tdunder">Project</th>
                <th class="centre tdunder">Name Task</th>
                <th class="centre tdunder">Assigned to</th>

              </tr>
            </thead>
            <tbody class="clienttbl">
              <tr *ngFor="let task of fetchedTasks" [routerLink]="['/task/' + task._id]" routerLinkActive="active">



                <td class="centre tdunder"></td>
                <td class="centre tdunder">{{task.title}}</td>
                <td class="centre tdunder"></td>

              </tr>
            </tbody>
          </table>

          <div>
            <md-paginator
              [length]="paginationData.totalItems"
              [pageSize]="paginationData.itemsPerPage"
              (page)="getPage($event.pageIndex*1+1)">
            </md-paginator>
<app-loadingInApp *ngIf="loading"></app-loadingInApp>  

          </div>
        </div>
  </div>
</div>
