<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Quote</h3>
  </div>
  <div>
    <h4 class="dspl-nn">id: {{fetchedQuote._id}}</h4>
    <!-- <form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)"> -->

    <button (click)="downloadPDF()">
      download PDF
    </button>

    <button [routerLink]="['/quote/public/' + fetchedQuote._id]">
      Devis acces public
    </button>



    <form [formGroup]="myForm" novalidate (ngSubmit)="save()">
      <div>
        <!-- Autocomplete user-->
        <label>Client</label>
        <input *ngIf="!fetchedQuote.clients.length" [ngModelOptions]="{standalone: true}" [(ngModel)]="autocompleteUser" placeholder="Select" (ngModelChange)="searchUsers()" mdInput>
        <div *ngFor="let user of fetchedUsers; let i=index">
          {{user.profile.name}} - {{user.profile.lastName}}
          <button type="button" (click)="selectUser(user)">select</button>
        </div>
        <div *ngIf="fetchedUsers.length == 0 && autocompleteUser !=''">
          Pas de resultats,
          <a [routerLink]="['/user/newuser']" class="admn-btn">
                  Créer un nouveau client
                </a>
        </div>
        <div *ngFor="let user of fetchedQuote.clients; let i=index">
          {{user.profile.name}} - {{user.profile.lastName}}
          <button type="button" (click)="removeUser(i)"><i class="fa fa-times"></i></button>
        </div>
        <!-- Autocomplete user-->



        <!-- Autocomplete Project-->
        <label>Projet</label>
        <input *ngIf="!fetchedQuote.projects.length" [ngModelOptions]="{standalone: true}" [(ngModel)]="autocompleteProject" placeholder="Select" (ngModelChange)="searchProjects()" mdInput>
        <div *ngFor="let project of fetchedProjects; let i=index">
          {{project.details.name}}
          <button type="button" (click)="selectProject(project)">select</button>
        </div>
        <div *ngIf="fetchedProjects.length == 0 && autocompleteProject !=''">
          Pas de resultats,
          <a [routerLink]="['/project/new']" class="admn-btn">
                   créer un nouveau Projet
                </a>
        </div>
        <div *ngFor="let project of fetchedQuote.projects; let i=index">
          {{project.details.name}}
          <button type="button" (click)="removeProject(i)"><i class="fa fa-times"></i></button>
        </div>

        <!-- Autocomplete -->

        <input type="text" class="form-control" formControlName="name" [(ngModel)]="fetchedQuote.name" required minlength="5" placeholder="Nom du quote">
        <br>

        <div *ngFor="let client of fetchedQuote.clients">
          <div>name:{{client.profile.name}}</div>
          <div>lastName:{{client.profile.lastName}}</div>
          <div>phoneNumber:{{client.profile.phoneNumber}}</div>
          <div>address:{{client.profile.address.address}}</div>
          <div>city:{{client.profile.address.city}}</div>
          <div>state:{{client.profile.address.state}}</div>
          <div>zip:{{client.profile.address.zip}}</div>
        </div>


        <br><br>




        <div class="row">
          <div class="col-md-1"></div>


          <div class="col-md-3">produit</div>
          <div class="col-md-1">Ref.</div>
          <div class="col-md-1">quanité</div>
          <div class="col-md-1">price HT</div>
          <div class="col-md-1">VAT(%)</div>
          <!-- <div class="col-md-1">price TTC</div> -->
          <div class="col-md-1">total HT</div>
          <div class="col-md-1">total TTC</div>
        </div>

        <div *ngFor="let fetchedProduct of fetchedQuote.devisDetails; let i=index">
          <div class="row">
            <div class="col-md-1">
              <button type="button" (click)="removeProduct(i)"><i class="fa fa-times"></i></button>
            </div>


            <div class="col-md-3">
              {{fetchedProduct.productInit.details.referenceName}}
            </div>
            <div class="col-md-1">
              <a [routerLink]="['/product/' + fetchedProduct.productInit._id]" class="admn-btn">
                {{fetchedProduct.productInit.details.reference}}
              </a>
            </div>
            <div class="col-md-1">
              <input class="gooplusInput" type="text" (ngModelChange)="calculateQuote()" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedQuote.devisDetails[i].quantity" placeholder="quantity">
            </div>
            <div class="col-md-1">
              <input class="gooplusInput" type="text" (ngModelChange)="calculateQuote()" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedQuote.devisDetails[i].priceWithoutTaxes" placeholder="priceWithoutTaxes">
            </div>

            <div class="col-md-1">
              <input class="gooplusInput" type="text" (ngModelChange)="calculateQuote()" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedQuote.devisDetails[i].vat" placeholder="vat">
            </div>
            <!-- <div class="col-md-1">
              {{fetchedQuote.devisDetails[i].priceWithTaxes}}
            </div> -->
            <div class="col-md-1">
              {{fetchedQuote.devisDetails[i].totalPriceWithoutTaxes | round}}
            </div>
            <div class="col-md-1">
              {{fetchedQuote.devisDetails[i].totalPriceWithTaxes | round}}
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <!-- Autocomplete -->
            <app-autocomplete [typeAutocomplete]="'product'" [title]="" [singleChoice]="'false'" [arrayContent]="arrayContentToSearch" (getResultAutocomplete)="selectProduct($event[0])">
            </app-autocomplete>


          </div>
          <div class="col-md-8"></div>
        </div>

        <div class="row">
          <div class="col-md-8">

          </div>
          <div class="col-md-1">
            Total
          </div>
          <div class="col-md-1">
            {{fetchedQuote.priceQuote.priceQuoteWithoutTaxes | round}}
          </div>
          <div class="col-md-1">
            {{fetchedQuote.priceQuote.priceQuoteWithTaxes | round}}
          </div>
          <!-- <div class="col-md-1">
          </div>
          <div class="col-md-4">
          </div> -->
        </div>

        <div class="row">
          <div class="col-md-6">
          </div>
          <div class="col-md-4">
            <div class="card" style="width:250px;">
              <div *ngIf="!fetchedQuote.signature.base64">
                <button type="button" class="delete" md-button (click)="resetSignature()">
                  Reset
                </button>
                <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()">
                </signature-pad>
                <button type="button" class="delete" md-button (click)="validateSignature()">
                  ok
                </button>
              </div>
              <img *ngIf="fetchedQuote.signature.base64" [src]="fetchedQuote.signature.base64" /> {{fetchedQuote.signature.dateSignature | date:'yMdjm'}}
            </div>
          </div>

        </div>
        <!-- </div> -->
      </div>


      <div (click)="togglePaiements()">Paiements</div>
      <div *ngIf="showPaiements">

        <app-paiementQuotes
          (getPaiementQuotesCross)="getPaiementQuotes($event)"
          [showHeader]="false"
          [showCreate]="false"
          [idQuote]="fetchedQuote._id">
        </app-paiementQuotes>
        Total Paiement = {{totalPaiementAmount}}
        <br>
        Reste a payer = {{fetchedQuote.priceQuote.priceQuoteWithoutTaxes*1 -  totalPaiementAmount*1| round}}
        <app-paiementQuote
          [showHeader]="false"
          (newPaiementQuoteSaved)="newPaiementQuoteSaved()"
        >
        </app-paiementQuote>

        <!-- <div>
          <button type="button" (click)="addPaiement()"><i class="fa fa-plus"></i>Add Paiement</button>
        </div>
        <div class="row" *ngFor="let paiement of fetchedQuote.paiements; let i=index;">
          <div class="col-md-1">
            <button type="button" (click)="removePaiement(i)"><i class="fa fa-times"></i></button>
          </div>
          <div class="col-md-3">
            <div (click)="editDateMode(i)">{{paiement.datePaiement | date:'yyyy-MM-dd' }}</div>
            <input *ngIf="fetchedQuote.paiements[i].editDateMode" type="date" (focusout)="editDateMode(i)" [ngModelOptions]="{standalone: true}" class="form-control" [(ngModel)]="fetchedQuote.paiements[i].datePaiement" placeholder="Amount" useValueAsDate>
          </div>
          <div class="col-md-3">
            <input type="text" [ngModelOptions]="{standalone: true}" class="form-control" [(ngModel)]="fetchedQuote.paiements[i].type" placeholder="Type">
          </div>
          <div class="col-md-3">
            <input type="text" (ngModelChange)="calculateQuote()" [ngModelOptions]="{standalone: true}" class="form-control" [(ngModel)]="fetchedQuote.paiements[i].amount" placeholder="Amount">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-3">
            total paiement:
          </div>
          <div class="col-md-3">
            {{fetchedQuote.priceQuote.paiementQuote}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-3">
            Reste a payer :
          </div>
          <div class="col-md-3">
            {{fetchedQuote.priceQuote.priceQuoteWithoutTaxes*1 - fetchedQuote.priceQuote.paiementQuote*1}}
          </div>
        </div> -->
      </div>


      <br><br>


      <div class="valid-edit">
        <button type="submit" class="sln-edt done">Enregistrer</button>
        <button *ngIf="fetchedQuote._id" type="button" class="delete" md-button (click)="openDialogDelete()">
          Delete
        </button>
      </div>
    </form>
  </div>
</div>

 <!-- test guillaume -->
<div class="create-invoice-header row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="col-sm-4 control-label col1" for="EstimateCode">Estimate Number</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <span class="input-group-addon">DEV</span>
                            <input class="form-control" id="EstimateCode" name="EstimateCode" type="text" value="28" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label col1" for="IssueDateISO">Issue Date</label>
                    <div class="col-sm-7">
                        <div class="input-group">

                            <input id="IssueDateISO" name="IssueDate" data-value="2017-07-13" class="form-control pickadate"  />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="$('#IssueDateISO').pickadate('open');event.stopPropagation();">
                                    <span class="icon fa-calendar" style="color: #999;"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>



                <div class="form-group duedate">
                    <label class="col-sm-4 control-label col1" for="DueDate">Expiry Date</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input id="DueDate" name="DueDate" data-value="" data-bind="value:DueDate" class="form-control pickadate" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="$('#DueDate').pickadate('open');event.stopPropagation();">
                                    <span class="icon fa-calendar" style="color: #999;"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>




                <div class="form-group">
                    <label class="col-sm-4 control-label col1" for="CurrencyCode">Currency</label>
                    <div class="col-sm-7">
                        <select class="form-control" disabled="disabled" id="CurrencyCode" name="CurrencyCode"><option value="">Select..</option>
<option value="AED">AED - United Arab Emirates Dirham</option>
<option value="AFN">AFN - Afghan Afghani</option>
<option value="ALL">ALL - Albanian Lek</option>
<option value="AMD">AMD - Armenian Dram</option>
<option value="ANG">ANG - Netherlands Antillean Guilder</option>
<option value="AOA">AOA - Angolan Kwanza</option>
<option value="ARS">ARS - Argentine Peso</option>
<option value="AUD">AUD - Australian Dollar</option>
<option value="AWG">AWG - Aruban Florin</option>
<option value="AZN">AZN - Azerbaijani Manat</option>
<option value="BAM">BAM - Bosnia And Herzegovina Convertible Mark</option>
<option value="BBD">BBD - Barbados Dollar</option>
<option value="BDT">BDT - Bangladeshi Taka</option>
<option value="BGN">BGN - Bulgarian Lev</option>
<option value="BHD">BHD - Bahraini Dinar</option>
<option value="BIF">BIF - Burundian Franc</option>
<option value="BMD">BMD - Bermudian Dollar</option>
<option value="BND">BND - Brunei Dollar</option>
<option value="BOB">BOB - Boliviano</option>
<option value="BRL">BRL - Brazilian Real</option>
<option value="BSD">BSD - Bahamian Dollar</option>
<option value="BTC">BTC - Bitcoin</option>
<option value="BTN">BTN - Bhutanese Ngultrum</option>
<option value="BWP">BWP - Botswana Pula</option>
<option value="BYR">BYR - Belarusian Ruble</option>
<option value="BZD">BZD - Belize Dollar</option>
<option value="CAD">CAD - Canadian Dollar</option>
<option value="CDF">CDF - Congolese Franc</option>
<option value="CHF">CHF - Swiss Franc</option>
<option value="CLP">CLP - Chilean Peso</option>
<option value="CNY">CNY - Chinese Yuan</option>
<option value="COP">COP - Colombian Peso</option>
<option value="CRC">CRC - Costa Rican Colon</option>
<option value="CUC">CUC - Cuban Convertible Peso</option>
<option value="CUP">CUP - Cuban Peso</option>
<option value="CVE">CVE - Cape Verde Escudo</option>
<option value="CZK">CZK - Czech Koruna</option>
<option value="DJF">DJF - Djiboutian Franc</option>
<option value="DKK">DKK - Danish Krone</option>
<option value="DOP">DOP - Dominican Peso</option>
<option value="DZD">DZD - Algerian Dinar</option>
<option value="EGP">EGP - Egyptian Pound</option>
<option value="ERN">ERN - Eritrean Nakfa</option>
<option value="ETB">ETB - Ethiopian Birr</option>
<option selected="selected" value="EUR">EUR - Euro</option>
<option value="FJD">FJD - Fiji Dollar</option>
<option value="FKP">FKP - Falkland Islands Pound</option>
<option value="GBP">GBP - Pound Sterling</option>
<option value="GEL">GEL - Georgian Lari</option>
<option value="GGP">GGP - Guernsey Pound</option>
<option value="GHS">GHS - Ghanaian Cedi</option>
<option value="GIP">GIP - Gibraltar Pound</option>
<option value="GMD">GMD - Gambian Dalasi</option>
<option value="GNF">GNF - Guinean Franc</option>
<option value="GTQ">GTQ - Guatemalan Quetzal</option>
<option value="GYD">GYD - Guyanese Dollar</option>
<option value="HKD">HKD - Hong Kong Dollar</option>
<option value="HNL">HNL - Honduran Lempira</option>
<option value="HRK">HRK - Croatian Kuna</option>
<option value="HTG">HTG - Haitian Gourde</option>
<option value="HUF">HUF - Hungarian Forint</option>
<option value="IDR">IDR - Indonesian Rupiah</option>
<option value="ILS">ILS - Israeli New Shekel</option>
<option value="IMP">IMP - Isle of Man Pound</option>
<option value="INR">INR - Indian Rupee</option>
<option value="IQD">IQD - Iraqi Dinar</option>
<option value="IRR">IRR - Iranian Rial</option>
<option value="ISK">ISK - Icelandic Kr&#243;na</option>
<option value="JEP">JEP - Jersey Pound</option>
<option value="JMD">JMD - Jamaican Dollar</option>
<option value="JOD">JOD - Jordanian Dinar</option>
<option value="JPY">JPY - Japanese Yen</option>
<option value="KES">KES - Kenyan Shilling</option>
<option value="KGS">KGS - Kyrgyzstani Som</option>
<option value="KHR">KHR - Cambodian Riel</option>
<option value="KMF">KMF - Comoro Franc</option>
<option value="KPW">KPW - North Korean Won</option>
<option value="KRW">KRW - South Korean Won</option>
<option value="KWD">KWD - Kuwaiti Dinar</option>
<option value="KYD">KYD - Cayman Islands Dollar</option>
<option value="KZT">KZT - Kazakhstani Tenge</option>
<option value="LAK">LAK - Lao Kip</option>
<option value="LBP">LBP - Lebanese Pound</option>
<option value="LKR">LKR - Sri Lankan Rupee</option>
<option value="LRD">LRD - Liberian Dollar</option>
<option value="LSL">LSL - Lesotho Loti</option>
<option value="LTL">LTL - Lithuania Litas</option>
<option value="LVL">LVL - Latvia Lat</option>
<option value="LYD">LYD - Libyan Dinar</option>
<option value="MAD">MAD - Moroccan Dirham</option>
<option value="MDL">MDL - Moldovan Leu</option>
<option value="MGA">MGA - Malagasy Ariary</option>
<option value="MKD">MKD - Macedonian Denar</option>
<option value="MMK">MMK - Myanmar Kyat</option>
<option value="MNT">MNT - Mongolian Tugrik</option>
<option value="MOP">MOP - Macanese Pataca</option>
<option value="MRO">MRO - Mauritanian Ouguiya</option>
<option value="MUR">MUR - Mauritian Rupee</option>
<option value="MVR">MVR - Maldivian Rufiyaa</option>
<option value="MWK">MWK - Malawian Kwacha</option>
<option value="MXN">MXN - Mexican Peso</option>
<option value="MYR">MYR - Malaysian Ringgit</option>
<option value="MZN">MZN - Mozambican Metical</option>
<option value="NAD">NAD - Namibian Dollar</option>
<option value="NGN">NGN - Nigerian Naira</option>
<option value="NIO">NIO - Nicaraguan C&#243;rdoba</option>
<option value="NOK">NOK - Norwegian Krone</option>
<option value="NPR">NPR - Nepalese Rupee</option>
<option value="NZD">NZD - New Zealand Dollar</option>
<option value="OMR">OMR - Omani Rial</option>
<option value="PAB">PAB - Panamanian Balboa</option>
<option value="PEN">PEN - Peruvian Nuevo Sol</option>
<option value="PGK">PGK - Papua New Guinean Kina</option>
<option value="PHP">PHP - Philippine Peso</option>
<option value="PKR">PKR - Pakistani Rupee</option>
<option value="PLN">PLN - Polish Zloty</option>
<option value="PYG">PYG - Paraguayan Guaran&#237;</option>
<option value="QAR">QAR - Qatari Riyal</option>
<option value="RON">RON - Romanian New Leu</option>
<option value="RSD">RSD - Serbian Dinar</option>
<option value="RUB">RUB - Russian Ruble</option>
<option value="RWF">RWF - Rwandan Franc</option>
<option value="SAR">SAR - Saudi Riyal</option>
<option value="SBD">SBD - Solomon Islands Dollar</option>
<option value="SCR">SCR - Seychelles Rupee</option>
<option value="SDG">SDG - Sudanese Pound</option>
<option value="SEK">SEK - Swedish Krona/Kronor</option>
<option value="SGD">SGD - Singapore Dollar</option>
<option value="SHP">SHP - Saint Helena Pound</option>
<option value="SLL">SLL - Sierra Leonean Leone</option>
<option value="SOS">SOS - Somali Shilling</option>
<option value="SPL">SPL - * Seborga Luigino</option>
<option value="SRD">SRD - Surinamese Dollar</option>
<option value="STD">STD - S&#227;o Tom&#233; And Pr&#237;ncipe Dobra</option>
<option value="SVC">SVC - El Salvador Colon</option>
<option value="SYP">SYP - Syrian Pound</option>
<option value="SZL">SZL - Swazi Lilangeni</option>
<option value="THB">THB - Thai Baht</option>
<option value="TJS">TJS - Tajikistani Somoni</option>
<option value="TMT">TMT - Turkmenistani Manat</option>
<option value="TND">TND - Tunisian Dinar</option>
<option value="TOP">TOP - Tongan Pa?anga</option>
<option value="TRY">TRY - Turkish Lira</option>
<option value="TTD">TTD - Trinidad And Tobago Dollar</option>
<option value="TVD">TVD - Tuvalu Dollar</option>
<option value="TWD">TWD - New Taiwan Dollar</option>
<option value="TZS">TZS - Tanzanian Shilling</option>
<option value="UAH">UAH - Ukrainian Hryvnia</option>
<option value="UGX">UGX - Ugandan Shilling</option>
<option value="USD">USD - United States Dollar</option>
<option value="UYU">UYU - Uruguayan Peso</option>
<option value="UZS">UZS - Uzbekistan Som</option>
<option value="VEF">VEF - Venezuelan Bol&#237;var</option>
<option value="VND">VND - Vietnamese Dong</option>
<option value="VUV">VUV - Vanuatu Vatu</option>
<option value="WST">WST - Samoan Tala</option>
<option value="XCD">XCD - East Caribbean Dollar</option>
<option value="XOF">XOF - Cfa Franc Bceao</option>
<option value="XPF">XPF - Cfp Franc (Franc Pacifique)</option>
<option value="YER">YER - Yemeni Rial</option>
<option value="ZAR">ZAR - South African Rand</option>
<option value="ZMW">ZMW - Zambian Kwacha</option>
<option value="ZWD">ZWD - Zimbabwe Dollar</option>
</select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="InvoiceTemplateIDFK">Estimate Template</label>
                    <div class="col-sm-6">
                        <select class="form-control" data-val="true" data-val-number="The field Estimate Template must be a number." id="InvoiceTemplateIDFK" name="InvoiceTemplateIDFK"><option value="30390">Mod&#232;le Facture</option>
<option selected="selected" value="30391">Mod&#232;le Devis</option>
</select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="EstimateTaxConfigCode">Amounts are</label>
                    <div class="col-sm-6">
                        <select name="EstimateTaxConfigCode" class="form-control" id="EstimateTaxConfigCode" data-bind='options: EstimateTaxConfigCodes, optionsText: "Text", optionsValue:"Value", value: EstimateTaxConfigCode'></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="DiscountPercent">Discount</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input id="DiscountPercent" name="DiscountPercent" class="form-control" data-bind='value: formattedDefaultDiscount' />
                            <span class="input-group-addon" style="color: #999;">%</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="Subject">Subject</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" cols="10" id="Subject" maxlength="255" name="Subject" rows="4">
</textarea>
                    </div>
                </div>

            </div>
        </div>
        <div class="row create-invoice-items-header">
            <span>Item Details</span>
        </div>
        <div class="row create-invoice-items titles visible-md visible-lg">
            <div class="col-type">
                Type
            </div>
            <div class="col-description">
                Description
            </div>
            <div class="col-quantity">
                Qty
            </div>
            <div class="col-price">
                Unit Price
            </div>
            <div class="col-discount">
                Disc %
            </div>
            
            <div class="col-tax">
                Tax Rate
            </div>
            <div class="col-amount">
                Amount
            </div>
        </div>
        <div class="row create-invoice-items body visible-md visible-lg" data-bind="sortable: items">
            <div class="item-row template-item">
                <div class="col-type">
                    <select name="type" class="form-control" data-bind='options: InventoryItems, optionsText: "Name", optionsCaption: "Select...",optionsValue:"InventoryItemID", value: Type'></select>
                    <a href="#" class="add-inventory-item">Add Inventory Item</a>
                </div>
                <div class="col-description">
                    <textarea name="description" class="form-control" data-bind="value:Description, enable:InventorySelected()"></textarea>
                </div>
                <div class="col-quantity">
                    <input type="text" name="quantity" class="form-control" data-bind='value:formattedQuantity, valueUpdate: "afterkeydown",event: { blur: QuantityBlur }, enable:InventorySelected()' />
                </div>
                <div class="col-price">
                    <input type="text" name="unitprice" class="form-control" data-bind='value:formattedPrice,valueUpdate: "afterkeydown",event: { blur: PriceBlur }, enable:InventorySelected()' />
                </div>
                <div class="col-discount">
                    <input type="text" name="discount" class="form-control" data-bind='value:formattedDiscount, valueUpdate: "afterkeydown",event: { blur: DiscountBlur }, enable:InventorySelected()' />
                </div>
                
                <div class="col-tax">
                    <select name="tax" class="form-control" data-bind='options: TaxItems, optionsText: "AccountTaxName", optionsCaption: "Select...",optionsValue:"TaxID", value: Tax, enable:InventorySelected()'></select>
                </div>
                <div class="col-amount">
                    <span data-bind="text:formatCurrency(Amount()), enable:InventorySelected()"></span>
                </div>
                <div class="col-remove">
                    <a href="javascript:void;" class="remove-link" data-bind='click: $parent.removeItem'>
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
            </div>
        </div>





        <div class="row visible-sm visible-xs">
            <table id="EstimateTable" class="table data-table ">
                <thead>
                    <tr class="create-invoice-items titles">

                        <th>
                            Type
                        </th>
                        <th>
                            Description
                        </th>
                        <th class="hidden-xs" data-hide="phone">
                            Qty
                        </th>
                        <th class="hidden-xs text-right" data-hide="phone">
                            Unit Price
                        </th>
                        <th class="visible-lg" data-hide="phone, tablet">
                            Disc %
                        </th>
                        
                        <th class="hidden-xs" data-hide="phone">
                            Tax Rate
                        </th>
                        <th class="col-amount text-right" data-hide="">
                            Amount
                        </th>
                    </tr>
                </thead>
                <tbody class="create-invoice-items body" data-bind="foreach: items">
                    <tr class="item-row">

                        <td class="col-type" data-bind="text:TypeName,click:$parent.editItem"></td>
                        <td class="col-description" data-bind="text:Description,click:$parent.editItem"></td>
                        <td class="col-quantity hidden-xs text-right" data-bind="text:formattedQuantity,click:$parent.editItem"></td>
                        <td class="col-price hidden-xs text-right" data-bind="text:formattedPrice,click:$parent.editItem"></td>
                        <td class="col-discount visible-lg" data-bind="text:formattedDiscount,click:$parent.editItem"></td>
                        
                        <td class="col-tax hidden-xs" data-bind="text:TaxName,click:$parent.editItem"></td>
                        <td class="col-amount text-right" data-bind="text:formatCurrency(Amount()),click:$parent.editItem"></td>
                    </tr>

                </tbody>
            </table>
        </div>

		
