<div class="container">
  <div *ngIf="showHeader" class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">PaiementQuote</h3>
  </div>
  <div>
    <h4 class="dspl-nn">id: {{fetchedPaiementQuote._id}}</h4>


    <form [formGroup]="myForm" novalidate (ngSubmit)="save()">
      <div>



        <select
          class="form-control"
          formControlName="type"
          [(ngModel)]="fetchedPaiementQuote.type">
          <option *ngFor="let n of paiementsTypes" [attr.value]="n.value">{{n.label}}</option>

        </select>


<!--
        <input
          type="text"
          class="form-control"
          formControlName="type"
          [(ngModel)]="fetchedPaiementQuote.type"
          placeholder="type"> -->
        <input
          type="text"
          class="form-control"
          formControlName="amount"
          [(ngModel)]="fetchedPaiementQuote.amount"
          placeholder="Amount">




      <app-autocomplete
        [typeAutocomplete]="'quote'"
        [title]=""
        [singleChoice]="'true'"
        [arrayContent]="fetchedPaiementQuote.quotes"
        (getResultAutocomplete)="selectQuote($event[0])">
      </app-autocomplete>




      <div (click)="editDateMode()">{{fetchedPaiementQuote.datePaiement | date:'yyyy-MM-dd' }}</div>
        <input *ngIf="fetchedPaiementQuote.editDateMode" type="date" (focusout)="editDateMode(i)" [ngModelOptions]="{standalone: true}" class="form-control" [(ngModel)]="fetchedPaiementQuote.datePaiement" placeholder="Amount">
      </div>



      <div class="valid-edit">
        <button type="submit" class="sln-edt done">Enregistrer</button>
        <button *ngIf="fetchedPaiementQuote._id" type="button" class="delete" md-button (click)="openDialogDelete()">
          Delete
        </button>
      </div>
    </form>
  </div>
</div>
