<div class="container nopad" style="width: 100%;">
  <div class="hdform">
      <h3> <i class="fa fa10 fa-bar-chart" aria-hidden="true"></i>{{'Reporting' | translate}}</h3>
  
    </div>
  
  <div class="row">
    <div class="col-md-12">
      <app-userCalendarSearch (getUserCalendarBySearch)="getUserCalendarBySearch($event)"></app-userCalendarSearch>
    </div>

    <div class="col-md-12">
      <angular2-fullcalendar #myCal [options]="calendarOptions" (initialized)="onCalendarInit($event)">
      </angular2-fullcalendar>
    </div>
  </div>
</div>
<app-loadingInApp *ngIf="loading"></app-loadingInApp>
