<div *ngIf="showHeader" class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2"><button type="button" class="btn btn-warning" (click)="goBack()"><i class="fa fa-chevron-left"><a> Retour</a></i></button></div>
  <div class="col-md-6">
    <h3 class="title">Devis</h3></div>
  <div class="col-md-3"></div>
</div>


<div class="clearfix col-md-10">
  <button class="btn btn-success float-right" [routerLink]="['/quote/new/' + userId]" routerLinkActive="active"><i class=""></i>Créer un nouveau Devis</button>
</div>

<div class="row">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{{ 'List' | translate }}</h4>
      </div>
      <div class="card-block clearfix">
        <div id="wrapper" class="subsubnav-clients float-left">
          <input class="form-control margebasse col-md-12" type="text" name="Search" placeholder="Rechercher" [(ngModel)]="search.search" (ngModelChange)="searchQuotes()">
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <!--  
              <th class="tbl-left">
                <!-- <button class="updownbtn" (click)="orderBy('profile.name')"><i class="fa fa-chevron-down"></i></button>
                    <button class="updownbtn" (click)="orderBy('-profile.name')"><i class="fa fa-chevron-up"></i></button> 
              </th>
               -->
              <th class="centre">Type</th>
              <th class="centre">Client</th>
              <th class="centre">Nom</th>
              <th class="centre">Date</th>
              <th class="centre">Responsable</th>
              <th class="centre">Statut</th>
            </tr>
          </thead>
          <tbody class="clienttbl">
            <tr *ngFor="let quote of fetchedQuotes | paginate: { id: 'quotePagination', itemsPerPage: paginationData.itemsPerPage, currentPage: paginationData.currentPage, totalItems: paginationData.totalItems }">
              <a [routerLink]="['/quote/edit/' + quote._id]" routerLinkActive="active">
                <td>{{quote.name}}</td>
              </a>
              <td class="centre">{{project.details.categ}}</td>
              <td class="centre">{{project.details.customer}}</td>
              <td class="centre">{{quote.name}}</td>
              <td class="centre">{{project.details.date}}</td>
              <td class="centre">{{project.assignedTos}}</td>
              <td class="centre btn btn-outline-info">{{quote.status}}</td>
            </tr>
          </tbody>
        </table>

<div class="has-text-centered">
          <div [hidden]="!loading">Loading...</div>
          <pagination-controls (pageChange)="getPage($event)" id="quotePagination" class="change-page"></pagination-controls>
        </div>
      </div>

    </div>

  </div>

</div>



<!--
<div class="row">
  <div class="col-md-4">
    <div [ngClass]="{'card': showHeader, '': !showHeader}">
      <div *ngIf="showHeader" class="card-header">
        <h4 class="card-title">Création de Devis</h4>
      </div>
      <div class="card-block">
        <button class="btn btn-primary" [routerLink]="['/quote/new/' + userId]" routerLinkActive="active">
        <i class=""></i>Créer un nouveau Devis
      </button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div [ngClass]="{'card': showHeader, '': !showHeader}">
      <div *ngIf="showHeader" class="card-header">
        <h4 class="card-title">Consultation / Édition</h4>
      </div>
      <div class="card-block">
        <div class="subsubnav-clients">
          <input class="form-control" celass="champ" type="text" name="Search" placeholder="Rechercher" [(ngModel)]="search.search" (ngModelChange)="searchQuotes()">
        </div>
        <table class="table table-hover table-responsive table-condensed">
          <thead>
            <tr>
              <th class="tbl-left">
          
                <!-- <button class="updownbtn" (click)="orderBy('profile.name')"><i class="fa fa-chevron-down"></i></button>
                    <button class="updownbtn" (click)="orderBy('-profile.name')"><i class="fa fa-chevron-up"></i></button> -->
   <!--       </th>
            </tr>
          </thead>
          <tbody class="clienttbl">
            <tr *ngFor="let quote of fetchedQuotes | paginate: { id: 'quotePagination', itemsPerPage: paginationData.itemsPerPage, currentPage: paginationData.currentPage, totalItems: paginationData.totalItems }">
              <a [routerLink]="['/quote/edit/' + quote._id]" routerLinkActive="active">
                <td>{{quote.name}}</td>
              </a>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="has-text-centered">
        <div [hidden]="!loading">Loading...</div>
        <pagination-controls (pageChange)="getPage($event)" id="quotePagination" class="change-page"></pagination-controls>
      </div>
    </div>
  </div>
</div>

-->
