<div id="global">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Add/Edit Product</h3>
  </div>
  <div id="product-container">



    <div>
      <select [ngModel]="categ1" (ngModelChange)="categ1 = $event; second.selectedIndex = 0" #first>
        <option *ngFor="let n of productSteps" [attr.value]="n.x">{{n.categ}}</option>
      </select>
    </div>
    <div>
      <!-- <div *ngFor="let n of data[first.selectedIndex].subCateg">
        {{n|json}}<br>
      </div> -->
      <select [(ngModel)]="categ2" (ngModelChange)="categ2 = $event; third.selectedIndex = 0" #second>
        <option *ngFor="let n of productSteps[first.selectedIndex].subCateg" [attr.value]="n.categ">{{n.categ}}</option>
      </select>
    </div>

    <!-- {{second.selectedIndex |json}} -->
    <!-- {{data[first.selectedIndex].subCateg |json}} -->
    <div>
      <select [(ngModel)]="categ3" #third>
        <option *ngFor="let n of productSteps[first.selectedIndex].subCateg[second.selectedIndex].subCateg" [attr.value]="n.categ">{{n.categ}}</option>
      </select>
    </div>





    <form [formGroup]="myForm" novalidate (ngSubmit)="save()" (keydown.enter)="$event.preventDefault()">

      <div formGroupName="details">
        <div>
          <label>Nom du produit</label>
          <input
            type="text"
            class="form-control"
            formControlName="referenceName"
            placeholder="referenceName"
            [(ngModel)]="fetchedProduct.details.referenceName">
        </div>

        <div>
          <label>Référence</label>
          <input
            type="text"
            class="form-control"
            formControlName="reference"
            placeholder="reference"
            [(ngModel)]="fetchedProduct.details.reference">
        </div>

        <div>
          <label>Description</label>
          <input
            type="text"
            class="form-control"
            formControlName="description"
            placeholder="description"
            [(ngModel)]="fetchedProduct.details.description">
        </div>

        <div formGroupName="dimension">
          <div>
            <label>longueur</label>
            <input
              type="text"
              class="form-control"
              formControlName="height"
              placeholder="height"
              [(ngModel)]="fetchedProduct.details.dimension.height">
          </div>
          <div>
            <label>largeur</label>
            <input
              type="text"
              class="form-control"
              formControlName="width"
              placeholder="width"
              [(ngModel)]="fetchedProduct.details.dimension.width">
          </div>

          <div>
            <label>hauteur</label>
            <input
              type="text"
              class="form-control"
              formControlName="depth"
              placeholder="depth"
              [(ngModel)]="fetchedProduct.details.dimension.depth">
          </div>
        </div>




              <!-- Autocomplete -->
              <label>Fournisseur</label>

              <a [routerLink]="['/companie/new']" class="admn-btn">
                Ajouter fournisseur
              </a>

              <input
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="autocompleteCompanie"
                placeholder="Select"
                (ngModelChange)="searchCompanies()"
                mdInput
              >
              <div *ngFor="let fetchedCompanie of fetchedCompanies; let i=index">
                {{fetchedCompanie.name}} - {{fetchedCompanie.name}}
                <button type="button" (click)="selectCompanie(fetchedCompanie)">select</button>
              </div>
              <div *ngFor="let vendor of fetchedProduct.vendors; let i=index">
                {{vendor.name}}
                <button type="button" (click)="removeCompanie(i)"><i class="fa fa-times"></i></button>

              </div>




        <div formGroupName="price">
          <div>
            <label>Prix d'achat HT</label>
            <input
              type="text"
              class="form-control"
              formControlName="costPrice"
              placeholder="costPrice"
              [(ngModel)]="fetchedProduct.details.price.costPrice">
          </div>
          <div>
            <label>Prix de vente HT</label>
            <input
              type="text"
              class="form-control"
              formControlName="sellingPrice"
              placeholder="sellingPrice"
              [(ngModel)]="fetchedProduct.details.price.sellingPrice">
          </div>
        </div>
      </div>



      <div class="form-group prmimg-cnt">

        <!-- <input type="hidden" class="form-control" formControlName="_id" [(ngModel)]="fetchedProduct.form._id"> -->
        <div *ngFor="let singleForm of fetchedProduct.forms">
          <img class="promo-img" src="./uploads/forms/{{singleForm.owner}}/{{singleForm.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
        </div>
        <div>
          <button type="button" md-button (click)="openDialog('img')" class="addpic-squr">Ajouter une image<br><i class="fa fa-plus"></i></button>
        </div>
      </div>




      <!-- <div class="lft-form">
        <label>Select Categories For This Product:</label>
        <div *ngFor="let categorieHard of categoriesHard2; let i=index">
          <md-checkbox
            (click)="togglCategorieButton(categorieHard.name, 'categ2')"
            [ngModelOptions]="{standalone: true}"
            [(ngModel)]="categoriesHard2[i].selected"
          ></md-checkbox>
          {{categorieHard.name}}
        </div>
        <label>Select Product Line For This Product:</label>
        <div *ngFor="let categorieHard of categoriesHard1; let i=index">
          <md-checkbox
            (click)="togglCategorieButton(categorieHard.name, 'categ1')"
            [ngModelOptions]="{standalone: true}"
            [(ngModel)]="categoriesHard1[i].selected"
          ></md-checkbox>
          {{categorieHard.name}}
        </div>
      </div> -->

      <!-- <div class="rght-form">
        <input
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="inputCategorie"
          placeholder="Add Tags to Product"
          (keyup.enter)="addCategorieInput()"
          mdInput
        >
        <div formArrayName="categories">
          <div *ngFor="let categorie of getObjects(myForm); let i=index" class="tagz">
            <div [formGroupName]="i">
              <input type="hidden" class="form-control" formControlName="name" [(ngModel)]="fetchedProduct.categories[i].name">
              <input type="hidden" class="form-control" formControlName="type" [(ngModel)]="fetchedProduct.categories[i].type">
              <div class="tagz-cnt" *ngIf="fetchedProduct.categories[i].type=='tag'">
                <div class="tagz">
                  <span class="tagz-name">{{fetchedProduct.categories[i].name}}</span>
                  <i class="tagz-icn fa fa-times pull-right" (click)="removeCategorie(i)"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

    <div class="valid-edit">
      <button type="submit" class="done" [disabled]="!myForm.valid">Done</button>
      <button *ngIf="fetchedProduct._id" type="button" class="delete" md-button (click)="openDialogDelete()">Delete Product</button>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
