<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2"><button type="button" class="btn btn-warning" (click)="goBack()"><i class="fa fa-chevron-left"><a> Retour</a></i></button></div>
  <div class="col-md-6"><h3 class="title">Ajouter / Éditer produit</h3></div>
  <div class="col-md-3"></div>
</div>

<div class="container" id="global">
  <div id="product-container">

    <!-- cascade -->
    <div class="xm-6">
      <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="categ1" (ngModelChange)="changeCascade(categ1Index.selectedIndex, 0)" #categ1Index>
        <option *ngFor="let n of itemSteps" [attr.value]="n.categ">{{n.categ}}</option>
      </select>
    </div>
    <div class="xm-6" [hidden]="itemSteps[selectedIndex1].categ==''">
      <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="categ2" (ngModelChange)="changeCascade(categ1Index.selectedIndex, categ2Index.selectedIndex)" #categ2Index>
        <option *ngFor="let n of itemSteps[selectedIndex1].subCateg" [attr.value]="n.categ">{{n.categ}}</option>
      </select>
    </div>
    <div class="xm-6" [hidden]="itemSteps[selectedIndex1].subCateg[selectedIndex2].categ==''">
      <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="categ3">
        <option *ngFor="let n of itemSteps[selectedIndex1].subCateg[selectedIndex2].subCateg" [attr.value]="n.categ">{{n.categ}}</option>
      </select>
    </div>
    <!-- cascade -->


    <form [formGroup]="myForm" novalidate (ngSubmit)="save()" (keydown.enter)="$event.preventDefault()">

      <div formGroupName="details">
        <div>
          <label>Nom du produit</label>
          <input
            type="text"
            class="form-control"
            formControlName="referenceName"
            placeholder="referenceName"
            [(ngModel)]="fetchedProduct.details.referenceName">
        </div>

        <div>
          <label>Référence</label>
          <input
            type="text"
            class="form-control"
            formControlName="reference"
            placeholder="reference"
            [(ngModel)]="fetchedProduct.details.reference">
        </div>

        <div>
          <label>Description</label>
          <input
            type="text"
            class="form-control"
            formControlName="description"
            placeholder="description"
            [(ngModel)]="fetchedProduct.details.description">
        </div>

        <div formGroupName="dimension">
          <div>
            <label>longueur</label>
            <input
              type="text"
              class="form-control"
              formControlName="height"
              placeholder="height"
              [(ngModel)]="fetchedProduct.details.dimension.height">
          </div>
          <div>
            <label>largeur</label>
            <input
              type="text"
              class="form-control"
              formControlName="width"
              placeholder="width"
              [(ngModel)]="fetchedProduct.details.dimension.width">
          </div>

          <div>
            <label>hauteur</label>
            <input
              type="text"
              class="form-control"
              formControlName="depth"
              placeholder="depth"
              [(ngModel)]="fetchedProduct.details.dimension.depth">
          </div>
        </div>

            <!-- Autocomplete companie-->
            <label>Fournisseur</label>
            <a [routerLink]="['/companie/new']" class="admn-btn">
              Ajouter fournisseur
            </a>
            <input
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="autocompleteCompanie"
              placeholder="Select"
              (ngModelChange)="searchCompanies()"
              mdInput
            >
            <div *ngFor="let fetchedCompanie of fetchedCompanies; let i=index">
              {{fetchedCompanie.name}} - {{fetchedCompanie.name}}
              <button type="button" (click)="selectCompanie(fetchedCompanie)">select</button>
            </div>
            <div *ngFor="let vendor of fetchedProduct.vendors; let i=index">
              {{vendor.name}}
              <button type="button" (click)="removeCompanie(i)"><i class="fa fa-times"></i></button>
            </div>
            <!-- Autocomplete -->



        <div formGroupName="price">
          <div>
            <label>Prix d'achat HT</label>
            <input
              type="text"
              class="form-control"
              formControlName="costPrice"
              placeholder="costPrice"
              [(ngModel)]="fetchedProduct.details.price.costPrice">
          </div>
          <div>
            <label>Prix de vente HT</label>
            <input
              type="text"
              class="form-control"
              formControlName="sellingPrice"
              placeholder="sellingPrice"
              [(ngModel)]="fetchedProduct.details.price.sellingPrice">
          </div>
        </div>
      </div>



      <div class="form-group prmimg-cnt">
        <div *ngFor="let singleForm of fetchedProduct.forms">
          <img class="promo-img" src="./uploads/forms/{{singleForm.owner}}/{{singleForm.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
        </div>
        <div>
          <button type="button" md-button (click)="openDialog('img')" class="addpic-squr">Ajouter une image<br><i class="fa fa-plus"></i></button>
        </div>
      </div>



    <div class="valid-edit">
      <button type="submit" class="done" [disabled]="!myForm.valid">Enregistrer</button>
      <button *ngIf="fetchedProduct._id" type="button" class="delete" md-button (click)="openDialogDelete()">Effacer produit</button>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
