<div class="">
  <div class="">



    <table class="table table-bordered table-hover2">
      <tr>
        <td class="tdpop">
          <app-newObjDialog icone="fa fa-users fa-2x" (saved)="saved($event)" [typeObj]="'user'"></app-newObjDialog>
          {{'Client' | translate}}
        </td>
        <td class="tdpop">
          <app-newObjDialog icone="fa fa-users fa-2x" (saved)="saved($event)" [typeObj]="'product'"></app-newObjDialog>
          {{'Product' | translate}}
        </td>
        <td class="tdpop">
          <a [routerLink]="['/userCalendar']">
            <i class="fa fa-users fa-2x" aria-hidden="true"></i>
            {{'Calendar' | translate}}
          </a>
        </td>
      </tr>
      <tr>
        <td class="tdpop">
          <a [routerLink]="['/quote/']">
            <i class="fa fa-users fa-2x" aria-hidden="true"></i>
            {{'Quote' | translate}}</a>
          </td>
        <td class="tdpop">
          <app-newObjDialog icone="fa fa-users fa-2x" (saved)="saved($event)" [typeObj]="'project'"></app-newObjDialog>
          {{'Project' | translate}}
        </td>
        <td class="tdpop">
          <app-newObjDialog icone="fa fa-users fa-2x" (saved)="saved($event)" [typeObj]="'paiementQuote'"></app-newObjDialog>
          {{'Paiement' | translate}}
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="arrowNotif"></div>
