<div class="container">
  <div class="col-md-12">
    <table class="table table-bordered table-hover2">
      <tr>
        <td class="tdpop"><a [routerLink]="['/user/list/false']" routerLinkActive="active2"><i class="fa fa-users fa-2x" aria-hidden="true"></i>Client</a></td>
        <td class="tdpop"><a [routerLink]="['/user/list/false']" routerLinkActive="active2"><i class="fa fa-users fa-2x" aria-hidden="true"></i>Produit</a></td>
        <td class="tdpop"><a [routerLink]="['/user/list/false']" routerLinkActive="active2"><i class="fa fa-users fa-2x" aria-hidden="true"></i>RDV</a></td>
      </tr>
      <tr>
        <td class="tdpop"><a [routerLink]="['/user/list/false']" routerLinkActive="active2"><i class="fa fa-users fa-2x" aria-hidden="true"></i>Devis</a></td>
        <td class="tdpop"><a [routerLink]="['/user/list/false']" routerLinkActive="active2"><i class="fa fa-users fa-2x" aria-hidden="true"></i>Projet</a></td>
        <td class="tdpop"><a [routerLink]="['/user/list/false']" routerLinkActive="active2"><i class="fa fa-users fa-2x" aria-hidden="true"></i>Facture</a></td>
      </tr>
    </table>
  </div>
</div>
