<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Quote</h3>
  </div>
  <div>
    <h4 class="dspl-nn">id: {{fetchedQuote._id}}</h4>
    <!-- <form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)"> -->

    <button
      (click)="downloadPDF()">download PDF
    </button>


    <form [formGroup]="myForm" novalidate (ngSubmit)="save()">
      <div>



              <!-- Autocomplete user-->
              <label>Client</label>
              <input
                *ngIf="!fetchedQuote.clients.length"
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="autocompleteUser"
                placeholder="Select"
                (ngModelChange)="searchUsers()"
                mdInput
              >
              <div *ngFor="let user of fetchedUsers; let i=index">
                {{user.profile.name}} - {{user.profile.lastName}}
                <button type="button" (click)="selectUser(user)">select</button>
              </div>
              <div *ngIf="fetchedUsers.length == 0 && autocompleteUser !=''">
                Pas de resultats,
                <a [routerLink]="['/user/newuser']" class="admn-btn">
                  Créer un nouveau client
                </a>
              </div>
              <div *ngFor="let user of fetchedQuote.clients; let i=index">
                {{user.profile.name}} - {{user.profile.lastName}}
                <button type="button" (click)="removeUser(i)"><i class="fa fa-times"></i></button>
              </div>
              <!-- Autocomplete user-->



              <!-- Autocomplete Project-->
              <label>Projet</label>
              <input
                *ngIf="!fetchedQuote.projects.length"
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="autocompleteProject"
                placeholder="Select"
                (ngModelChange)="searchProjects()"
                mdInput
              >
              <div *ngFor="let project of fetchedProjects; let i=index">
                {{project.details.name}}
                <button type="button" (click)="selectProject(project)">select</button>
              </div>
              <div *ngIf="fetchedProjects.length == 0 && autocompleteProject !=''">
                Pas de resultats,
                <a [routerLink]="['/project/new']" class="admn-btn">
                   créer un nouveau Projet
                </a>
              </div>
              <div *ngFor="let project of fetchedQuote.projects; let i=index">
                {{project.details.name}}
                <button type="button" (click)="removeProject(i)"><i class="fa fa-times"></i></button>
              </div>

              <!-- Autocomplete -->

          <input
            type="text"
            class="form-control"
            formControlName="name"
            [(ngModel)]="fetchedQuote.name"
            required
            minlength="5"
            placeholder="Nom du quote"
          >
          <input
            type="text"
            class="form-control"
            formControlName="phoneNumber"
            [(ngModel)]="fetchedQuote.phoneNumber"
            required
            minlength="5"
            placeholder="Numéro de téléphone"
          >
          <!-- <div ngModelGroup="address"> -->
          <div formGroupName="address">
            <input
              type="text"
              class="form-control"
              formControlName="address"
              [(ngModel)]="fetchedQuote.address.address"
              required
              minlength="5"
              placeholder="Adresse"
            >
            <input
              type="text"
              class="form-control"
              formControlName="city"
              [(ngModel)]="fetchedQuote.address.city"
              required
              minlength="2"
              placeholder="Ville"
            >

            <input
              type="text"
              class="form-control"
              formControlName="zip"
              [(ngModel)]="fetchedQuote.address.zip"
              required
              minlength="5"
              placeholder="Code postal"
            >
        </div>

        <br><br>
        <a [routerLink]="['/product/new']" class="admn-btn">
          Créer un nouveau Produit
        </a>



        <div class="row">
          <div class="col-md-1"></div>


          <div class="col-md-3">produit</div>
          <div class="col-md-1">Ref.</div>
          <div class="col-md-1">quanité</div>
          <div class="col-md-1">price HT</div>
          <div class="col-md-1">VAT(%)</div>
          <div class="col-md-1">price TTC</div>
          <div class="col-md-1">total HT</div>
          <div class="col-md-1">total TTC</div>
        </div>

        <div *ngFor="let fetchedProduct of fetchedQuote.devisDetails; let i=index">
          <div class="row">
            <div class="col-md-1">
              <button type="button" (click)="removeProduct(i)"><i class="fa fa-times"></i></button>
            </div>


            <div class="col-md-3">
                {{fetchedProduct.productInit.details.referenceName}}
            </div>
            <div class="col-md-1">
              <a [routerLink]="['/product/' + fetchedProduct.productInit._id]" class="admn-btn">
                {{fetchedProduct.productInit.details.reference}}
              </a>
            </div>
            <div class="col-md-1">
              <input
                class="gooplusInput"
                type="text"
                (ngModelChange)="calculateQuote()"
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="fetchedQuote.devisDetails[i].quantity"
                placeholder="quantity">
            </div>
            <div class="col-md-1">
              <input
                class="gooplusInput"
                type="text"
                (ngModelChange)="calculateQuote()"
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="fetchedQuote.devisDetails[i].priceWithoutTaxes"
                placeholder="priceWithoutTaxes">
            </div>

            <div class="col-md-1">
              <input
                class="gooplusInput"
                type="text"
                (ngModelChange)="calculateQuote()"
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="fetchedQuote.devisDetails[i].vat"
                placeholder="vat">
            </div>
            <div class="col-md-1">
              {{fetchedQuote.devisDetails[i].priceWithTaxes}}
            </div>
            <div class="col-md-1">
              {{fetchedQuote.devisDetails[i].totalPriceWithoutTaxes | round}}
            </div>
            <div class="col-md-1">
              {{fetchedQuote.devisDetails[i].totalPriceWithTaxes | round}}
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <!-- Autocomplete -->
            <input
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="autocompleteProduct"
              placeholder="Select"
              (ngModelChange)="searchProducts()"
              mdInput
            >
            <div *ngFor="let fetchedProduct of fetchedProducts; let i=index">
              {{fetchedProduct.details.referenceName}} - {{fetchedProduct.details.reference}}
              <button type="button" (click)="selectProduct(fetchedProduct)">select</button>
            </div>
            <!-- Autocomplete -->
          </div>
          <div class="col-md-8"></div>
        </div>



        <div class="row">
          <div class="col-md-8">

          </div>
          <div class="col-md-1">
            Total
          </div>
          <div class="col-md-1">
            {{fetchedQuote.priceQuote.priceQuoteWithoutTaxes | round}}
          </div>
          <div class="col-md-1">
            {{fetchedQuote.priceQuote.priceQuoteWithTaxes | round}}
          </div>
          <!-- <div class="col-md-1">
          </div>
          <div class="col-md-4">
          </div> -->
        </div>





        <!-- </div> -->
      </div>

      <div class="valid-edit">
        <button type="submit" class="sln-edt done">Enregistrer</button>
        <button
          *ngIf="fetchedQuote._id"
          type="button"
          class="delete"
          md-button
          (click)="openDialogDelete()">
          Delete
        </button>
      </div>
    </form>
  </div>
</div>
