<div class="container">
  <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Quote</h3>
  </div>
  <div class="beigeback single-wrpr">
    <h4 class="dspl-nn">id: {{fetchedQuote._id}}</h4>
    <!-- <form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)"> -->
    <form [formGroup]="myForm" novalidate (ngSubmit)="save()">
      <div class="form-group sln-inffrm">
        <!-- <div formGroupName="fetchedQuote"> -->
        <!-- <div ngModelGroup="fetchedQuote"> -->
          <input
            type="text"
            class="form-control"
            formControlName="name"
            [(ngModel)]="fetchedQuote.name"
            required
            minlength="5"
            placeholder="Nom du quote"
          >
          <input
            type="text"
            class="form-control"
            formControlName="phoneNumber"
            [(ngModel)]="fetchedQuote.phoneNumber"
            required
            minlength="5"
            placeholder="Numéro de téléphone"
          >
          <!-- <div ngModelGroup="address"> -->
          <div formGroupName="address">
            <input
              type="text"
              class="form-control"
              formControlName="address"
              [(ngModel)]="fetchedQuote.address.address"
              required
              minlength="5"
              placeholder="Adresse"
            >
            <input
              type="text"
              class="form-control"
              formControlName="city"
              [(ngModel)]="fetchedQuote.address.city"
              required
              minlength="2"
              placeholder="Ville"
            >

              <input
                type="text"
                class="form-control"
                formControlName="zip"
                [(ngModel)]="fetchedQuote.address.zip"
                required
                minlength="5"
                placeholder="Code postal"
              >
          </div>






        <!-- Autocomplete -->
        <label>Produits</label>
        <a [routerLink]="['/product/new']" class="admn-btn">
          Ajouter Produit
        </a>
        <input
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="autocompleteProduct"
          placeholder="Select"
          (ngModelChange)="searchProducts()"
          mdInput
        >
        <div *ngFor="let fetchedProduct of fetchedProducts; let i=index">
          {{fetchedProduct.details.referenceName}} - {{fetchedProduct.details.reference}}
          <button type="button" (click)="selectProduct(fetchedProduct)">select</button>
        </div>
        <div *ngFor="let fetchedProduct of fetchedQuote.devisDetails; let i=index">
          {{fetchedProduct.productInit.details.referenceName}} - {{fetchedProduct.productInit.details.reference}}
          <button type="button" (click)="removeProduct(i)"><i class="fa fa-times"></i></button>
        </div>
        <!-- Autocomplete -->





        <!-- </div> -->
      </div>

      <div class="valid-edit">
        <button type="submit" class="sln-edt done">Enregistrer</button>
      </div>
    </form>
  </div>
</div>
