.gooplusInput {
  width:100%;
}

.btn-outline-primary {
    margin-top: 0px!important;
}

/*------------------------- Guillaume ---------------------*/

.row {
    margin-right: 0px!important;
    margin-left: 0px!important;
}

.fa {
    margin-right: 0px!important;
}
.form-control {
    padding: .5rem 0rem;

}

/*------------------------- Guillaume ---------------------*/
