.gooplusInput {
  width:100%;
  padding: .5rem 0rem!important;
}

.btn-outline-primary {
    margin-top: 0px!important;
}

/*------------------------- Guillaume ---------------------*/

.row {
    margin-right: 0px!important;
    margin-left: 0px!important;
}

.fa {
    margin-right: 0px!important;
}
.FCP {
    padding: .5rem 0rem!important;

}

/*------------------------- Guillaume ---------------------*/
