<div class='wrapper'>
  <div class='container' *ngFor='let bucketTask of fetchedProject.bucketTasks; let bucketTaskIndex = index;' [dragula]='"nested-bag"'>
    <span>{{bucketTask.bucketName}}</span>
    <div *ngFor='let task of bucketTask.tasks; let taskIndex = index;'>
      {{task.name}}
      <button (click)="deleteTask(bucketTaskIndex, taskIndex)">X</button>
    </div>

    <button (click)="newTask(bucketTaskIndex)">Create Task</button>
    <div *ngIf="bucketTask.openNewTask">
      <textarea #content rows="4" cols="10"></textarea>
      <button (click)="addTask(content.value, bucketTaskIndex)">Add</button>
    </div>
  </div>
  <div>
    <input
      type="text"
      #newBucketTaskInput
      (keyup.enter)="newBucketTask(newBucketTaskInput.value)"
      placeholder="bucketTask"
    >
  </div>
</div>
