<div id="global">
  <!-- <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Add/Edit Project</h3>
  </div> -->
  <div id="project-container">






    <form [formGroup]="myForm" novalidate (ngSubmit)="save()" (keydown.enter)="$event.preventDefault()">



      <!-- cascade -->
      <div>
        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="categ1" (ngModelChange)="changeCascade(categ1Index.selectedIndex, 0)" #categ1Index>
          <option *ngFor="let n of itemSteps" [attr.value]="n.categ">{{n.categ}}</option>
        </select>
      </div>
      <div [hidden]="itemSteps[selectedIndex1].categ==''">
        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="categ2" (ngModelChange)="changeCascade(categ1Index.selectedIndex, categ2Index.selectedIndex)" #categ2Index>
          <option *ngFor="let n of itemSteps[selectedIndex1].subCateg" [attr.value]="n.categ">{{n.categ}}</option>
        </select>
      </div>
      <div [hidden]="itemSteps[selectedIndex1].subCateg[selectedIndex2].categ==''">
        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="categ3">
          <option *ngFor="let n of itemSteps[selectedIndex1].subCateg[selectedIndex2].subCateg" [attr.value]="n.categ">{{n.categ}}</option>
        </select>
      </div>
      <!-- cascade -->



      <div class="form-group">

        <div class="phyto-ctnr ttl-cde">
          <label>Nom</label>
          <input type="text" class="form-control" formControlName="name" [(ngModel)]="fetchedProject.name" placeholder="Ref">
        </div>
      </div>
      <div class="form-group phyto-ctnr ttl-cde">
        <label>Description</label>
        <input type="text" class="form-control" formControlName="description" placeholder="description" [(ngModel)]="fetchedProject.description">
      </div>




      <!-- Autocomplete -->
      <label>Client</label>
      <a [routerLink]="['/user/newuser']" class="admn-btn">
        Ajouter Client
      </a>
      <input
        [ngModelOptions]="{standalone: true}"
        [(ngModel)]="autocompleteUser"
        placeholder="Select"
        (ngModelChange)="searchUsers()"
        mdInput
      >
      <div *ngFor="let user of fetchedUsers; let i=index">
        {{user.profile.name}} - {{user.profile.lastName}}
        <button type="button" (click)="selectUser(user)">select</button>
      </div>
      <div *ngFor="let user of fetchedProject.clients; let i=index">
        {{user.profile.name}} - {{user.profile.lastName}}
        <button type="button" (click)="removeUser(i)"><i class="fa fa-times"></i></button>
      </div>
      <!-- Autocomplete -->


            <!-- Autocomplete -->
            <label>Devis</label>
            <a [routerLink]="['/quote/new']" class="admn-btn">
              Ajouter Devis
            </a>
            <input
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="autocompleteQuote"
              placeholder="Select"
              (ngModelChange)="searchQuotes()"
              mdInput
            >
            <div *ngFor="let quote of fetchedQuotes; let i=index">
              {{quote.name}}
              <button type="button" (click)="selectQuote(quote)">select</button>
            </div>
            <div *ngFor="let quote of fetchedProject.quotes; let i=index">
              {{quote.name }}
              <button type="button" (click)="removeQuote(i)"><i class="fa fa-times"></i></button>
            </div>
            <!-- Autocomplete -->





      <div class="form-group prmimg-cnt">

        <!-- <input type="hidden" class="form-control" formControlName="_id" [(ngModel)]="fetchedProject.form._id"> -->
        <div *ngFor="let singleForm of fetchedProject.forms">
          <img class="promo-img" src="./uploads/forms/{{singleForm.owner}}/{{singleForm.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
        </div>
        <div>
          <button type="button" md-button (click)="openDialog('img')" class="addpic-squr">Add Picture<br><i class="fa fa-plus"></i></button>
        </div>
      </div>




<!--
      <label class="phyto-ctnr">Users</label>
      <input
        [ngModelOptions]="{standalone: true}"
        [(ngModel)]="inputUser"
        placeholder="Choose related product"
        (ngModelChange)="searchUsers()"
        mdInput
      >
      <div *ngFor="let fetchedUser of fetchedUsers; let i=index">
        {{fetchedUser.name}} - {{fetchedUser.name}}
        <button type="button" (click)="selectProduct(fetchedUser)">select</button>
      </div>
      <div *ngFor="let productFetch of fetchedUser.products; let i=index">
        <div *ngFor="let custom_attribute of productFetch.product.magento.custom_attributes" class="rltpdt-ctnr">
          <div *ngIf="custom_attribute.attribute_code == 'image'" class="rltpdt-cnt">
            {{productFetch.product.magento.sku}} - {{productFetch.product.magento.name}}
            <img src="{{urlMagento}}{{custom_attribute.value}}" onerror="this.src ='assets/images/no-image-found.jpg'">
            <button type="button" (click)="removeProduct(i)"><i class="fa fa-times"></i></button>
          </div>
        </div>
      </div> -->



      <select
        formControlName="status"
        [(ngModel)]="fetchedProject.status">
        <option *ngFor="let n of status" [ngValue]="n.index">{{n.label}}</option>
      </select>



    <div class="valid-edit">
      <button type="submit" class="done" [disabled]="!myForm.valid">Done</button>
      <button *ngIf="fetchedProject._id" type="button" class="delete" md-button (click)="openDialogDelete()">Delete Project</button>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
