<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2"><button type="button" class="btn btn-warning" (click)="goBack()"><i class="fa fa-chevron-left"><a> Retour</a></i></button></div>
  <div class="col-md-6"><h3 class="title">Ajouter / Éditer un Projet</h3></div>
  <div class="col-md-3"></div>
</div>

<div class="container">
  <!-- <div class="goldgradient beigeborder subnav">
    <button class="subnav-btnleft" (click)="goBack()"><i class="fa fa-chevron-left"></i></button>
    <h3 style="text-align: center;">Add/Edit Project</h3>
  </div> -->
  <div>

    <form [formGroup]="myForm" novalidate (ngSubmit)="save()" (keydown.enter)="$event.preventDefault()">

      <div>
        <div>
          <label>Id</label>
          {{fetchedProject._id}}
        </div>
      </div>
      <!-- cascade -->
      <div>
        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="categ1" (ngModelChange)="changeCascade(categ1Index.selectedIndex, 0)" #categ1Index>
          <option *ngFor="let n of itemSteps" [attr.value]="n.categ">{{n.categ}}</option>
        </select>
      </div>
      <div [hidden]="itemSteps[selectedIndex1].categ==''">
        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="categ2" (ngModelChange)="changeCascade(categ1Index.selectedIndex, categ2Index.selectedIndex)" #categ2Index>
          <option *ngFor="let n of itemSteps[selectedIndex1].subCateg" [attr.value]="n.categ">{{n.categ}}</option>
        </select>
      </div>
      <div [hidden]="itemSteps[selectedIndex1].subCateg[selectedIndex2].categ==''">
        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="categ3">
          <option *ngFor="let n of itemSteps[selectedIndex1].subCateg[selectedIndex2].subCateg" [attr.value]="n.categ">{{n.categ}}</option>
        </select>
      </div>
      <!-- cascade -->



      <a [routerLink]="['/project/tasks/' + fetchedProject._id]" class="admn-btn">
        Taches
      </a>

      <div class="form-group">

        <div class="phyto-ctnr ttl-cde">
          <label>Nom</label>
          <input type="text" class="form-control" formControlName="name" [(ngModel)]="fetchedProject.details.name" placeholder="Ref">
        </div>
      </div>
      <div class="form-group phyto-ctnr ttl-cde">
        <label>Description</label>
        <input type="text" class="form-control" formControlName="description" placeholder="description" [(ngModel)]="fetchedProject.details.description">
      </div>


      <div class="FormGroup">
        <button type="button" (click)="addCalendar()">Add Calendar</button>
      </div>
      <div class="FormGroup">
        <button type="button" (click)="seeCalendar()">See Calendar of this project</button>
      </div>
      <!-- Autocomplete User-->
      <label>Client</label>
      <input
        *ngIf="!fetchedProject.clients.length"
        [ngModelOptions]="{standalone: true}"
        [(ngModel)]="autocompleteUser"
        placeholder="Select"
        (ngModelChange)="searchUsers()"
        mdInput
      >
      <div *ngFor="let user of fetchedUsers; let i=index">
        {{user.profile.name}} - {{user.profile.lastName}}
        <button type="button" (click)="selectUser(user)">select</button>
      </div>
      <div *ngIf="fetchedUsers.length == 0 && autocompleteUser !=''">
          Pas de resultats,
          <a [routerLink]="['/user/newuser']" class="admn-btn">
            Créer un nouveau client
          </a>
      </div>
      <div *ngFor="let user of fetchedProject.clients; let i=index">
        {{user.profile.name}} - {{user.profile.lastName}}
        <button type="button" (click)="removeUser(i)"><i class="fa fa-times"></i></button>
      </div>
      <!-- Autocomplete User -->


      <br>
      <div *ngIf="fetchedProject._id">
        <div *ngFor="let user of fetchedProject.clients">
          <label>Devis</label>


          <app-quotes [userId]="user._id" [projectId]="fetchedProject._id"></app-quotes>
          <!-- <app-projects [userId]="fetchedUser._id"></app-projects> -->



        </div>
      </div>



      <div class="form-group prmimg-cnt">

        <!-- <input type="hidden" class="form-control" formControlName="_id" [(ngModel)]="fetchedProject.form._id"> -->
        <div *ngFor="let singleForm of fetchedProject.forms">
          <img class="promo-img" src="./uploads/forms/{{singleForm.owner}}/{{singleForm.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
        </div>
        <div>
          <button type="button" md-button (click)="openDialog('img')" class="addpic-squr">Add Picture<br><i class="fa fa-plus"></i></button>
        </div>
      </div>





      <select
        formControlName="status"
        [(ngModel)]="fetchedProject.status">
        <option *ngFor="let n of status" [ngValue]="n.index">{{n.label}}</option>
      </select>





    <!-- Autocomplete AssignedTo-->
    <label>Assigned To</label>
    <input
      *ngIf="!fetchedProject.assignedTos.length"
      [ngModelOptions]="{standalone: true}"
      [(ngModel)]="autocompleteAssignedTo"
      placeholder="Select"
      (ngModelChange)="searchAssignedTos()"
      mdInput
    >
    <div *ngFor="let user of fetchedAssignedTos; let i=index">
      {{user.profile.name}} - {{user.profile.lastName}}
      <button type="button" (click)="selectAssignedTo(user)">select</button>
    </div>
    <div *ngIf="fetchedAssignedTos.length == 0 && autocompleteAssignedTo !=''">
        Pas de resultats,
        <a [routerLink]="['/user/newuser']" class="admn-btn">
          Créer un nouveau employe
        </a>
    </div>


    <div *ngFor="let user of fetchedProject.assignedTos; let i=index">
      {{user.profile.name}} - {{user.profile.lastName}}
      <button type="button" (click)="removeAssignedTo(i)"><i class="fa fa-times"></i></button>
    </div>
    <!-- Autocomplete User -->



    <div class="valid-edit">
      <button type="submit" class="done" [disabled]="!myForm.valid">Done</button>
      <button
        *ngIf="fetchedProject._id"
        type="button"
        class="delete"
        md-button
        (click)="openDialogDelete()">
        Delete
      </button>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
