

<div class='row'>

  <div *ngFor='let bucketTask of fetchedProject.bucketTasks; let bucketTaskIndex = index;'>
    {{bucketTask.bucketName}}
    <button (click)="deleteBucketTask(bucketTaskIndex)">X</button>
    <div class='container containerTasks'
      [dragulaModel]='fetchedProject.bucketTasks[bucketTaskIndex].tasks'
      [dragula]='"nested-bag"'>
      <div
        (click)='onClick(bucketTaskIndex, taskIndex)'
        *ngFor='let task of bucketTask.tasks; let taskIndex = index;'>
        {{task.name}}
        <button (click)="deleteTask(bucketTaskIndex, taskIndex)">X</button>
      </div>

      <button (click)="newTask(bucketTaskIndex)">Create Task</button>
      <div *ngIf="bucketTask.openNewTask">
        <textarea #content rows="4" cols="10"></textarea>
        <button (click)="addTask(content.value, bucketTaskIndex)">Add</button>
      </div>
    </div>
  </div>

  <div>
    <input
      type="text"
      #newBucketTaskInput
      (keyup.enter)="newBucketTask(newBucketTaskInput.value);newBucketTaskInput.value='';"
      placeholder="Name bucket"
    >
  </div>
</div>


<div *ngFor='let bucketTask of fetchedProject.bucketTasks; let bucketTaskIndex = index;'>
  <div *ngFor='let task of bucketTask.tasks; let taskIndex = index;'>
    <div *ngIf="task.editMode">
      <input
        type="text"
        class="form-control"
        (focusout)="save()"
        [(ngModel)]="fetchedProject.bucketTasks[bucketTaskIndex].tasks[taskIndex].name"
        placeholder="Nom du fournisseur"
        (keyup.enter)="save()"
      >
      <textarea
        class="form-control"
        (focusout)="save()"
        [(ngModel)]="fetchedProject.bucketTasks[bucketTaskIndex].tasks[taskIndex].description"
        placeholder="Description"
      >
    </textarea>
      <app-autocomplete

        [typeAutocomplete]="'assignedTo'"
        [singleChoice]="'true'"
        [arrayContent]="fetchedProject.bucketTasks[bucketTaskIndex].tasks[taskIndex].assignedTos"
        (getResultAutocomplete)="selectAssignedTo($event, bucketTaskIndex, taskIndex)"
        >
      </app-autocomplete>

    </div>
  </div>
</div>

<!-- <pre>
  <code>
    {{fetchedProject|json}}
</code>
</pre> -->

<!-- <div class='parent'>
    <label for='hy'>
    <strong>Angular-specific example.</strong> Fancy some <code>ngFor</code>?</label>
    <div class='wrapper wrapperTasks'>
        <div class='container containerTasks' [dragula]='"another-bag"' [dragulaModel]='many[0].tasks'>
            {{many[0].bucketName}}
            <div *ngFor='let text of many[0].tasks' [innerHtml]='text'></div>
        </div>
        <div class='container' [dragula]='"another-bag"' [dragulaModel]='many[1].tasks'>
            <div *ngFor='let text of many[1].tasks' [innerHtml]='text'></div>
        </div>
    </div>
    <div class='wrapper'>
        <div class='container'>
            <pre>{{many | json}}</pre>
        </div>
        <div class='container'>
            <pre>{{many2 | json}}</pre>
        </div>
    </div>
    <pre>
      <code>
&lt;div class='wrapper'&gt;
  &lt;div class='container' [dragula]='&quot;another-bag&quot;' [dragulaModel]='many'&gt;
    &lt;div *ngFor='let text of many' [innerHtml]='text'&gt;&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class='container' [dragula]='&quot;another-bag&quot;' [dragulaModel]='many2'&gt;
    &lt;div *ngFor='let text of many2' [innerHtml]='text'&gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

class RepeatExample &#123;
  public many: Array&lt;string&gt; = ['The', 'possibilities', 'are', 'endless!'];
  public many2: Array&lt;string&gt; = ['Explore', 'them'];

  constructor(private dragulaService: DragulaService) &#123;
    dragulaService.dropModel.subscribe((value) => &#123;
      this.onDropModel(value.slice(1));
    });
    dragulaService.removeModel.subscribe((value) => &#123;
      this.onRemoveModel(value.slice(1));
    });
  }

  private onDropModel(args) &#123;
    let [el, target, source] = args;
    // do something else
  }

  private onRemoveModel(args) &#123;
    let [el, source] = args;
    // do something else
  }
}
      </code>
    </pre>
</div> -->
