<div class="title">
  <div class="col-xs-2 col-sm-2"><button type="button" class="btn btn-primary" (click)="goBack()"><i class="fa fa-chevron-left"><a> Retour</a></i></button></div>
  <div class="col-xs-2 col-sm-2"><h3>Produits</h3></div>
  <div class="col-xs-2 col-sm-2"></div>
</div>


<div class="row">
  <div class="col-lg-6 col-xs-6">
    <div class="card">
    <div class="card-header">
      <h4 class="card-title">Ajouter un produit</h4>
    </div>
    <div class="card-block">
      <button class="btn btn-primary" [routerLink]="['/product/productSingle/']" routerLinkActive="active"><i class=""></i>Créer un nouveau Produit</button>
    </div>
    </div>
  </div>

  <div class="col-lg-6 col-xs-6">
    <div class="card">
    <div class="card-header">
      <h4 class="card-title">Consultation / Édition</h4>
    </div>
    <div class="card-block">
      <div id="wrapper" class="subsubnav-clients">
          <input
            celass="champ"
            type="text"
            name="Search"
            placeholder="Rechercher"
            [(ngModel)]="search.search"
            (ngModelChange)="searchProducts()">
        </div>
            <table class="table table-hover table-responsive table-condensed">
              <thead>
                <tr>
                  <th class="tbl-left">
                    <h3 class="name">Références</h3>
                    <!-- <button class="updownbtn" (click)="orderBy('profile.name')"><i class="fa fa-chevron-down"></i></button>
                    <button class="updownbtn" (click)="orderBy('-profile.name')"><i class="fa fa-chevron-up"></i></button> -->
                  </th>
                </tr>
              </thead>
              <tbody class="clienttbl">
                <tr *ngFor="let product of fetchedProducts | paginate: { id: 'server', itemsPerPage: paginationData.itemsPerPage, currentPage: paginationData.currentPage, totalItems: paginationData.totalItems }"
                  [routerLink]="['/product/' + product._id]"
                  routerLinkActive="active">
                  <td>{{product.details.referenceName}}</td>
                </tr>
              </tbody>
            </table>

            <div class="has-text-centered">
              <div [hidden]="!loading">Loading...</div>
              <pagination-controls (pageChange)="getPage($event)" id="server" class="change-page"></pagination-controls>
            </div>
          </div>
    </div>
  </div>
</div>
