<div class="row">
  <div class="col-md-4">
    <app-picture (getPicture)="getPicture($event)"></app-picture>
  </div>
  <div class="col-md-6">
    <input type="text" class="form-control" #newCommentString placeholder="New Comment" (keyup.enter)="newComment(newCommentString.value)">
  </div>
  <div class="col-md-2">
    <button type="button" (click)="newComment(newCommentString.value)">Ok</button>
  </div>
</div>


<div *ngFor="let log of logs">
  <div class="row">
    <div class="col-md-5">
      {{log.comment}}
    </div>
    <div class="col-md-2">
      {{log.date| date:'yyyy-MM-dd' }}
    </div>
    <div class="col-md-2">
      <div *ngFor="let user of log.by">
        By {{user.profile.name}}
      </div>
    </div>
    <div class="col-md-3">
      <div *ngFor="let singleForm of log.forms; let i=index;">
        <img class="imgList" src="./uploads/forms/{{singleForm.owner}}/{{singleForm.imagePath}}" onerror="this.src ='assets/images/no-image-found.jpg'">
        <!-- <button type="button" md-button (click)="removePic(i)">
          <i class="fa fa-times"></i>
        </button> -->
      </div>
    </div>
  </div>
</div>
