@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/*@import "fullcalendar/dist/fullcalendar.min.css";*/
@import "~angular-calendar/dist/css/angular-calendar.css";
/*@import "~@ng-bootstrap/ng-bootstrap/dist/css/bootstrap.min.css";*/


.box {
background-color: #fff; margin: 20px; padding: 20px;
}

body {
    background-color: #e5e5e5;
}

H1, H2, H3, H4, H5 {
  text-Align: Center; padding: 5px;
}

.row {
margin: 20px;
}

.bg-inverse {
border-radius: 5px;
}

.btn1 {
margin: 10px;
padding: 5px;
}

.btn2 {
margin: auto;
}
