@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/*@import "fullcalendar/dist/fullcalendar.min.css";*/
@import "~angular-calendar/dist/css/angular-calendar.css";
/*@import "~@ng-bootstrap/ng-bootstrap/dist/css/bootstrap.min.css";*/


.box {
background-color: #fff; margin: 20px; padding: 20px;
}

body {
    background-color: #e5e5e5;
}
