@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/*@import "fullcalendar/dist/fullcalendar.min.css";*/
@import "~angular-calendar/dist/css/angular-calendar.css";
/*@import "~@ng-bootstrap/ng-bootstrap/dist/css/bootstrap.min.css";*/


.box {
background-color: #fff; margin: 20px; padding: 20px;
}

body {
    background-color: #fff;
}

H1, H2, H3, H4, H5 {
  text-Align: Center; padding: 5px;
}

.row {
margin: 20px;
}

.bg-inverse {
border-radius: 5px;
}

.btn1 {
background-color: #fff;
text-Align: Center;  
margin: 5px;
padding: 10px;
border-radius: 8px;  
}

.btn1:hover {
color: #000;
background: #bababa;
}
  
 .btn1:active {
color: #fff;
background: #444;
}

.btn2 {
font-family: Arial,sans-serif;
width: auto;
height: 43px;
padding: 10px;
text-align: center;
color: #fff;
background: #444;
background: linear-gradient( #555, #2C2C2C);
border-radius: 8px;
}
  
.btn2:hover {
color: #fff;
background: #555;
background: linear-gradient( #777, #333);
}
  
 .btn2:active {
color: #fff;
background: #444;
background: linear-gradient( #555, #2C2C2C);

}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
