<div class="container">
  <div class="rowd-flex flex-row">
        <div class="p-2">
      <h4> {{'Notifications' | translate}}</h4>

    </div>
    <div class="p-2">
      
    </div>
  </div>
  <div class="d-flex flex-row">
    <div class="p-2">
      <input class="form-control margebasse col-md-12" type="text" name="Search" placeholder="Rechercher" [(ngModel)]="search.search" (ngModelChange)="searchNotifications()">
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      
            
   
          <table class="table table-hover">
            <thead>
              <tr>

                <th class="centre tdunder">{{'Title' | translate}}</th>
            
              </tr>
            </thead>
            <tbody class="clienttbl">
              <tr
                *ngFor="let notification of fetchedNotifications"
                [routerLink]="['/notification/' + notification._id]"
                [ngClass]="{'isRead':!notification.isRead, '': notification.isRead}"
                routerLinkActive="active">

                <td class="centre tdunder">{{notification.nameNotification}}</td>

              </tr>
            </tbody>
          </table>

          <div>
            <md-paginator
              [length]="paginationData.totalItems"
              [pageSize]="paginationData.itemsPerPage"
              (page)="getPage($event.pageIndex*1+1)">
            </md-paginator>
<app-loadingInApp *ngIf="loading"></app-loadingInApp>

          </div>
        </div>
  </div>
</div>
